{% extends 'base.html.twig' %}

{% block title %} Accueil Utilisateurs{% endblock %}

{% block stylesheets %}
<!-- DataTables -->
<link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />  

{% endblock %}

{% block pageTitle %}
<h4 class="page-title mb-2"><i class="fas fa-users mr-2"></i>Utilisateurs</h4>  
{% endblock %}

{% block breadcrumb %}
    <div class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Accueil</li>
            <li class="breadcrumb-item active">Utilisateurs</li>
        </ol>
    </div>
{% endblock %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <h5 class="header-title">Liste des Utilisateurs</h5>
                    <div class="mt-2 mb-2 mr-5 text-right">
                        <a href="{{path('account_register')}}"  class="btn btn-info btn-lg rounded " data-toggle="tooltip" data-placement="top" title="Ajoutez un nouveau utilisateur"><i class="fa fa-plus-circle mr-2"></i> <i class="fas fa-users"></i></a>
                    </div>
                    <div class="">
                        <table id="datatable2" class="table dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr class="text-center">
                                    <th class="text-left">Nom</th>
                                    <th>Rôle</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for user in users %}
                                <tr class="text-center">
                                    {# <td>{{user.id}}</td> #}
                                    <td class="text-left"><a href="{{ path('account_password',{'id':user.id}) }}">{{user.fullName}}</a></td>
                                    <td>{{user.roles[0]}}</td>
                                    <td>
                                        <a href="{{path('user_edit', {'id':user.id})}}"  class="btn btn-soft-info btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Modifiez l'utilisateur ?"><i class="far fa-edit"></i> </a></a>
                                        {# <a href="{{path('user_delete', {'id':user.id})}}" class="btn btn-soft-danger btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Supprimez l'utilisateur ?"><i class="fas fa-trash"></i> </a>    #}
                                    </td>    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>           
                </div>
            </div>
        </div>
    </div><!--end row-->
{% endblock %}

{% block javascripts %}
<!-- Required datatable js -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/plugins/datatables/jszip.min.js"></script>
<script src="/plugins/datatables/pdfmake.min.js"></script>
<script src="/plugins/datatables/vfs_fonts.js"></script>
<script src="/plugins/datatables/buttons.html5.min.js"></script>
<script src="/plugins/datatables/buttons.print.min.js"></script>
<script src="/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>
<script src="/pages/jquery.datatable.init.js"></script>    
{% endblock %}