<div class="navbar-custom-menu">                
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu list-unstyled">
                {% if is_granted('ROLE_ADMIN') %}
                <li class="has-submenu">
                    <a href="{{ path('enterprise_dashbord',{'id':app.user.enterprise.id}) }}">
                        <i class="mdi mdi-monitor"></i>
                        Dashboard
                    </a>
                    {# <ul class="submenu">
                        <li><a href="#">Dashboard 1</a></li>
                        <li><a href="#">Dashboard 2</a></li>
                        <li><a href="#">Dashboard 3</a></li>
                    </ul> #}
                </li>
                {% endif %}

                <li class="has-submenu">
                    <a href="#">
                        <i class="fas fa-hand-holding-heart"></i>{#   fas fa-hand-holding#}
                        Offers
                    </a>
                    <ul class="submenu">
                        <li><a href="{{ path('products_index') }}"><i class="dripicons-shopping-bag mr-2"></i>Products</a></li>
                        {# <li><a href="#"><i class="fas fa-wrench mr-2"></i>Services</a></li>    #}
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">
                        <i class="mdi mdi-file-table-outline"></i>{#mdi mdi-cart-outline - mdi mdi-cart-arrow-right  - mdi mdi-square-inc-cash -  mdi mdi-cart#}
                        Commercial Sheets
                    </a>
                    <ul class="submenu">
                        {# {% for inventory in inventories %}
                        <li><a href="{{ path('order_index',{'id':inventory.id}) }}">{{inventory.name}}</a></li>
                        {% endfor %} #} 
                        <li>
                            <a href="{{ path('commercial_sheet_index',{'type':'bill'}) }}">Bill</a>
                            {# {% if inventories|length > 0 %}
                            <ul class="submenu">
                                {% for inventory in inventories %}
                                <li><a href="{{ path('commercial_sheet_index',{'id':inventory.id,'type':'bill'}) }}"> {{inventory.name|upper}} </a></li>
                                {% endfor %}
                                
                            </ul>
                            {% endif %} #}
                        </li>
                        <li>
                            <a href="{{ path('commercial_sheet_index',{'type':'quote'}) }}">Quote</a>
                            {# {% if inventories|length > 0 %}
                            <ul class="submenu">
                                {% for inventory in inventories %}
                                <li><a href="{{ path('commercial_sheet_index',{'id':inventory.id,'type':'quote'}) }}"> {{inventory.name|upper}} </a></li>
                                {% endfor %}
                            </ul>
                            {% endif %} #}
                        </li>  
                        <li>
                            <a href="{{ path('commercial_sheet_index',{'type':'purchaseorder'}) }}">Purchase Order</a>
                        </li>  
                    </ul>
                </li>
                <li class="">
                    <a href="{{ path('inventories_index') }}">
                        <i class="mdi mdi-buffer"></i>{#mdi mdi-file-table-outline  - mdi mdi-clipboard-text-outline - mdi mdi-database #}
                        Inventories
                    </a>
                    {# <ul class="submenu">
                        <li><a href="{{ path('inventories_index') }}">Dashboard</a></li>
                        {% for inventory in app.user.enterprise.inventories %}
                        <li {% if inventory.lots|length > 0 %}class="has-submenu"{% endif %}><a href="{{ path('inventory_dashboard',{'id':inventory.id}) }}"> {{(inventory.name ~ " stock")|upper}} </a></li>
                            {% if inventory.lots|length > 0 %}
                            <ul class="submenu">
                                <li><a href="{{path('lots_index', {'prod':0, 'inv':inventory.id})}}" ></a>Lots</li>
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul> #}
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="fas fa-address-book"></i>Business Contacts</a>{# fas fa-address-book  mdi mdi-account-multiple #}
                    <ul class="submenu">
                        <li>
                            <a href="{{ path('business_contacts_index',{'type':'customer'})}}"><i class="mdi mdi-account-multiple mr-2"></i> Customers</a>
                        </li>
                        <li>
                            <a href="{{ path('business_contacts_index',{'type':'supplier'})}}"><i class="fas fa-handshake mr-2"></i> Suppliers</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-settings"></i>Settings</a>
                    <ul class="submenu">
                        <li><a href="#"><i class="fas fa-users"></i> Utilisateurs</a></li>{# {{ path('users_index') }} #}
                        <li><a href="#">Mon abonnement</a></li>{# {{ path('jar_recycling_management_index') }} #}
                    </ul>
                </li>
            </ul>
            <!-- End navigation menu -->
        </div> <!-- end navigation -->
    </div> <!-- end container-fluid -->
</div>