<div class="topbar">
    <!-- Navbar -->
    <nav class="navbar-custom">

        <!-- LOGO -->
        <div class="topbar-left d-none d-lg-block">
            <a href="#" class="logo">
                <span>
                    <img src="/images/KnD.png" alt="logo-small" class="logo-sm mb-2">
                </span>
                
                {# <span>
                    <img src="/images/KnD.png" alt="logo-large" class="logo-lg">
                </span> #}
                
            </a>
        </div>

        <ul class="list-unstyled topbar-nav float-right mb-0">

            {#<li class="dropdown">
                <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="false" aria-expanded="false" id="notif">
                    <i class="mdi mdi-bell-outline nav-icon"></i>
                    <span class="badge badge-danger badge-pill noti-icon-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                    <!-- item-->
                    <h6 class="dropdown-item-text">
                        Notifications (3)
                    </h6>
                    <div class="slimscroll notification-list">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item active">
                            <div class="notify-icon bg-danger"><i class="mdi mdi-flash"></i></div>
                            <p class="notify-details">Presence of overvoltage on phase A of module <small class="text-muted">Livraison ENEO.</small> Date : 04/05/2020</p>
                        </a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-warning"><i class="mdi mdi-trending-down "></i></div>
                            <p class="notify-details">Presence of voltage dips on phase C of module <small class="text-muted">Départ Atelier de chaudronnerie</small> Date : 04/05/2020</p>
                        </a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-info"><i class="mdi mdi-chart-line-variant "></i></div>
                            <p class="notify-details">Presence of load imbalance on module <small class="text-muted">Livraison ENEO.</small> Date : 04/05/2020</p>
                        </a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-danger"><i class="mdi mdi-fuel "></i></div>
                            <p class="notify-details">Refueling alert on the module <small class="text-muted">Livraison Groupe Electrogène</small></p>
                        </a>
                        
                    </div>
                    <!-- All-->
                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                        View all <i class="fi-arrow-right"></i>
                    </a>
                </div>
            </li>#}

            {#<li class="dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="false" aria-expanded="false">
                    <img src=" {{ user.avatar != null  ? '/img/uploads/avatar/' ~ user.avatar : '/img/uploads/avatar/user.png' }}" alt="profile-user" class="rounded-circle" /> 
                    <span class="ml-1 nav-user-name hidden-sm"> <i class="mdi mdi-chevron-down"></i> </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ path('account_profile') }}"><i class="dripicons-user text-muted mr-2"></i> Profile</a>
                    <a class="dropdown-item" href="{{ path('account_password') }}"><i class="fa fa-edit text-muted mr-2"></i> Edit Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('account_logout') }}"><i class="dripicons-exit text-muted mr-2"></i> Logout</a>
                </div>
            </li>#}
            <li class="dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="{{ app.user.avatar != null  ? '/images/uploads/avatar/' ~ app.user.avatar : '/images/uploads/avatar/user.png' }}" alt="profile-user" class="rounded-circle" /> 
                    <span class="ml-1 nav-user-name hidden-sm"><span class="text-white">{{app.user.firstName}}</span> <i class="mdi mdi-chevron-down"></i> </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ path('account_profile') }}"><i class="dripicons-user text-muted mr-2"></i> Profile</a>
                    <a class="dropdown-item" href="{{ path('account_password',{'id':app.user.id})}}"><i class="dripicons-document-edit text-muted mr-2"></i> Edit Password</a>
                    {#<a class="dropdown-item" href="#"><i class="dripicons-gear text-muted mr-2"></i> Settings</a>
                    <a class="dropdown-item" href="#"><i class="dripicons-lock text-muted mr-2"></i> Lock screen</a>#}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('account_logout') }}"><i class="dripicons-exit text-muted mr-2"></i> Logout</a>
                </div>
            </li>
            <li class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle nav-link" id="mobileToggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </li> 
        </ul>
    </nav>
    <!-- end navbar-->
</div>
