{% extends 'base.html.twig' %}

{% block title %} Compte client {{app.user.enterprise.socialReason}}  {% endblock %}

{% block stylesheets %}
<link href="/plugins/ticker/jquery.jConveyorTicker.css" rel="stylesheet" type="text/css" />
<link href="/plugins/dropify/css/dropify.min.css" rel="stylesheet">
<!-- DataTables -->
<link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />  

{% endblock %} 

{% block pageTitle %}
<h4 class="page-title mb-2"><i class="fas fa-user-coge mr-2"></i>Mon compte Client</h4>  
{% endblock %}

{% block breadcrumb %}
    <div class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Compte</li>
            <li class="breadcrumb-item active">Client</li>
            <li class="breadcrumb-item active">{{app.user.enterprise.socialReason}}</li>
        </ol>
    </div>
{% endblock %}

{% set totalDoc = fv + fa + qte %}
{% set sheetNumber = app.user.enterprise.subscription.sheetNumber %}
{% set hasStockModule = false %}
{% set productRefNumber = 0 %}
{% if app.user.enterprise.subscription.productRefNumber > 0 and app.user.enterprise.isActivated == true %}
{% set hasStockModule = true %}
{% set productRefNumber = app.user.enterprise.subscription.productRefNumber %}
{% endif %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body border-bottom">
                <div class="fro_profile">
                    <div class="row">
                        <div class="col-lg-4 mb-3 mb-lg-0">
                            <div class="fro_profile-main">
                                <div class="fro_profile-main-pic">
                                    <img src="{{ app.user.enterprise.logo != null  ? '/images/uploads/logo/' ~ app.user.enterprise.logo : '/images/uploads/logo/logo.png' }}" alt="Logo entreprise" class="rounded-circle img-thumbnail mb-1">
                    
                                    {# <img src="{{ app.user.enterprise.logo != null  ? '/images/uploads/logo/' ~ app.user.enterprise.logo : '/images/uploads/logo/logo.png' }}" alt="Logo entreprise" class="rounded-circle"> #}
                                    {# <span class="fro-profile_main-pic-change">
                                        <i class="fas fa-camera"></i>
                                        src="/images/users/user-4.jpg"
                                    </span> #}
                                </div>
                                <div class="fro_profile_user-detail">
                                    <h5 class="fro_user-name">{{app.user.enterprise.socialReason}}</h5>
                                    {# <p class="mb-0 fro_user-name-post">UI/UX Designer</p> #}
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-4 mb-3 mb-lg-0">
                            <div class="header-title">Détails Abonnement</div> 
                            <div class="row">
                                <div class="col-12">
                                    <div class="seling-report">
                                        {# <h6 class="seling-data mb-1">Fin d'abonnenemnt dans : JJ-HH-MM</h6> #}
                                        <h6 class="seling-data mb-1"></h6>
                                        <ul class="mb-0">
                                            {# <li class="mb-2 list-inline-item font-13"><i class="mdi mdi-label text-info mr-2"></i>Ref Abonnement : {{"RF1234"}}</li> #}
                                            <li class="mb-2 list-inline-item font-13"><i class="mdi mdi-label text-info mr-2"></i>Durée de validité : {{app.user.enterprise.subscriptionDuration}} Mois</li> 
                                            <li class="mb-2 list-inline-item font-13"><i class="mdi mdi-label text-info mr-2"></i>Date de souscription : {{ app.user.enterprise.subscribeAt|date('d-m-Y') }}</li>
                                            <li class="mb-2 list-inline-item font-13"><i class="mdi mdi-label text-info mr-2"></i>Nombre de documents max : {% if sheetNumber == 7102020 %}Illimités{% else %}{{ sheetNumber }}{% endif %}</li>
                                            {% if hasStockModule %}
                                            <li class="mb-2 list-inline-item font-13"><i class="mdi mdi-label text-info mr-2"></i>Ref produits en stock max : {% if productRefNumber == 7102020 %}Illimités{% else %}{{ productRefNumber }}{% endif %}</li>
                                            {% endif %}
                                        </ul>
                                        <h5 class="seling-data-detail {% if app.user.enterprise.isActivated == true %}text-warning{% else %}text-danger{% endif %}">{% if app.user.enterprise.isActivated == true %}Fin d'abonnement dans : {{app.user.enterprise.subscriptionDeadLine}}{% else %}Abonnement Expiré{% endif %}</h5>
                                    </div>                                                            
                                </div>
                                {# <div class="col-5 align-item-center">
                                    <canvas id="pro-doughnut" height="180"></canvas> 
                                </div> #}
                            </div> 
                        </div><!--end col-->
                        {% if sheetNumber > 0 %}
                        <div class="col-lg-4 mb-3 mb-lg-0">
                            <div class="header-title">Stats du Mois en Cours</div> 
                            <div class="row">
                                <div class="col-7">
                                    <div class="seling-report">
                                        {% if sheetNumber != 7102020 %}<h3 class="seling-data mb-1">{{ ( (totalDoc * 100.0 ) / sheetNumber )|number_format('2','.',' ') }}%</h3>{% endif %}
                                        <ul class="list-inline mb-0">
                                            <li class="mb-2 list-inline-item text-muted font-13"><i class="mdi mdi-label text-success mr-2"></i>Factures</li>
                                            <li class="mb-2 list-inline-item text-muted font-13"><i class="mdi mdi-label text-danger mr-2"></i>Devis</li>
                                            <li class="mb-2 list-inline-item text-muted font-13"><i class="mdi mdi-label text-warning mr-2"></i>Factures d'Achat</li>
                                        </ul>
                                        <h5 class="seling-data-detail">Total Documents : {{totalDoc}}</h5>
                                    </div>                                                            
                                </div>
                                <div class="col-5 align-item-center">
                                    <canvas id="pro-doughnut" height="180"></canvas> 
                                </div>
                            </div> 
                        </div><!--end col-->
                        {% endif %}
                        
                        {# <div class="col-lg-4 mb-2 mb-lg-0">
                            <div class="header-title">Revenue Report</div>                                                    
                            <div class="row">
                                <div class="col-6">
                                    <div class="seling-report">
                                        <h3 class="seling-data mb-1">$2353</h3>
                                        <p class="text-muted">Today's Revenue</p>
                                        <h5 class="seling-data-detail">Total Payment Clear</h5>
                                    </div>                                                            
                                </div>
                                <div class="col-6">
                                    <span class="peity-bar" data-peity='{ "fill": ["#44a2d2", "#e6edf3"]}' data-width="100%" data-height="100">20,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8</span>
                                </div>
                            </div> 
                        </div><!--end col--> #}

                    </div><!--end row-->
                </div><!--end f_profile-->                                                                                
            </div><!--end card-body-->

            {# <div class="card-body">
                <div class="wrap">
                    <div class="jctkr-label">
                        <strong>Sold itemes Reverse</strong>
                    </div>
                    <div class="js-conveyor-example">
                        <ul>
                            <li>
                                <img src="/images/products/img-4.png" alt="" class="thumb-sm rounded">
                                <span class="text-primary font-14"><b>Purse</b></span>
                                <span class="text-muted mb-0 font-12 ">14Feb 2019</span>
                            </li>
                            <li>
                                <img src="/images/products/img-5.png" alt="" class="thumb-sm rounded">
                                <span class="text-primary font-14"><b>Shoes</b></span>
                                <span class="text-muted mb-0 font-12 ">14Feb 2019</span>
                            </li>
                            <li>
                                <img src="/images/products/img-3.png" alt="" class="thumb-sm rounded">
                                <span class="text-primary font-14"><b>Head Phone</b></span>
                                <span class="text-muted mb-0 font-12 ">14Feb 2019</span>
                            </li>
                            <li>
                                <img src="/images/products/img-2.png" alt="" class="thumb-sm rounded">
                                <span class="text-primary font-14"><b>Watch</b></span>
                                <span class="text-muted mb-0 font-12 ">14Feb 2019</span>
                            </li>
                            <li>
                                <img src="/images/products/img-1.png" alt="" class="thumb-sm rounded">
                                <span class="text-primary font-14"><b>Bag</b></span>
                                <span class="text-muted mb-0 font-12 ">14Feb 2019</span>
                            </li>
                            <li>
                                <img src="/images/products/img-6.png" alt="" class="thumb-sm rounded">
                                <span class="text-primary font-14"><b>Vallyboll</b></span>
                                <span class="text-muted mb-0 font-12 ">14Feb 2019</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--end card-body--> #}
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body profile-nav"> 
                <div class="nav flex-column nav-pills" id="profile-tab" aria-orientation="vertical">
                    <a class="nav-link active" id="profile-settings-tab" data-toggle="pill" href="#profile-settings" aria-selected="false">Profil</a>
                    {# <a class="nav-link active" id="profile-dash-tab" data-toggle="pill" href="#profile-dash" aria-selected="true">Dashboard</a> #}
                    {# <a class="nav-link" id="profile-activities-tab" data-toggle="pill" href="#profile-activities" aria-selected="false">Activities</a> #}
                    {% if hasStockModule %}
                    <a class="nav-link mb-0 d-flex justify-content-between align-items-center" id="profile-pro-stock-tab" data-toggle="pill" href="#profile-pro-stock" aria-selected="false">
                        Produits en Stock
                            {% set prodNb = 0 %}
                            {% for product in app.user.enterprise.products %}
                                {% if product.hasStock == 1 %}
                                    {% set prodNb = prodNb + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% set diff = productRefNumber - prodNb %}
                        <span class="badge badge-{% if diff >= 5 %}success{% else %}warning{% endif %}">
                            {{prodNb}}
                        </span>
                    </a>
                    {% endif %}
                    
                </div>
            </div><!--end card-body-->
        </div><!--end card-->

        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Informations Personnelles</h4>
                <h6>About :</h6>
                <p class="text-muted font-13">
                    {% if app.user.enterprise.description is empty %}
                        Description brève de l'enterprise
                    {% else %}
                    {{app.user.enterprise.description}}
                    {% endif %}
                </p>
                <hr>
                <div class="button-list btn-social-icon">                                                
                    <button type="button" class="btn btn-facebook btn-round">
                        <i class="fab fa-facebook-f"></i>
                    </button>

                    <button type="button" class="btn btn-twitter btn-round ml-2">
                        <i class="fab fa-twitter"></i>
                    </button>

                    <button type="button" class="btn btn-info btn-round  ml-2">
                        <i class="fab fa-linkedin"></i>
                    </button>

                    <button type="button" class="btn btn-pink btn-round  ml-2">
                        <i class="fab fa-dribbble"></i>
                    </button>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->

        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title mb-3">Contacts</h4>   
                <ul class="list-unstyled mb-0">
                    <li class=""><i class="mdi mdi-phone mr-2 text-success font-18"></i> <b> Tél </b> : {{app.user.enterprise.phoneNumber}}</li>
                    <li class="mt-2"><i class="mdi mdi-email-outline text-success font-18 mt-2 mr-2"></i> <b> Email </b> : {{app.user.enterprise.email}}</li>
                    <li class="mt-2"><i class="mdi mdi-map-marker text-success font-18 mt-2 mr-2"></i> <b>Pays</b> : {{app.user.enterprise.country}}</li>
                </ul>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->

    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                <div class="tab-content" id="profile-tabContent">
                    {# <div class="tab-pane fade show active" id="profile-dash">
                        <h4 class="header-title mt-0">Overview</h4>                                         
                        <div class="chart-demo dash-apex-chart m-0">
                            <div id="d2_overview" class="apex-charts"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card shadow-none  overflow-hidden">
                                    <div class="card-body bg-gradient2">
                                        <div class="">
                                            <div class="card-icon">
                                                <i class="fas fa-coins"></i>
                                            </div>
                                            <h2 class="font-weight-bold text-white">$85750.00</h2>
                                            <p class="text-white mb-0 font-16">Total payments</p>                                            
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="">
                                            <div id="d1_payment" class="apex-charts"></div>
                                        </div> 
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="card shadow-none overflow-hidden">
                                    <div class="card-body bg-gradient1">
                                        <div class="">
                                            <div class="card-icon">
                                                <i class="far fa-user"></i>
                                            </div>
                                            <h2 class="font-weight-bold text-white">10</h2>
                                            <p class="text-white mb-0 font-16">Top 10 Best Saler This Month</p>                                            
                                        </div>
                                    </div><!--end card-body-->
                                    <div class="card-body dash-info-carousel">                                        
                                        <div id="carousel_best_saler" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <div class="text-center">
                                                        <img src="/images/users/user-4.jpg" alt="user" class="rounded-circle thumb-xl img-thumbnail mb-1">
                                                        <h5>Nancy Flanary</h5>
                                                        <p class="font-12 text-muted"><i class="fas fa-globe mr-2"></i>USA Dealer</p>
                                                        <p class="mb-0 text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                                                        <div class="mt-2 align-item-center">
                                                            <h5 class="font-20 d-inline-block mb-0 mr-3 align-self-center">$34800.00</h5>
                                                            <a class="btn btn-sm btn-primary text-light mb-2"><i class="mdi mdi-email-outline mr-1"></i>Message</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="text-center">
                                                        <img src="/images/users/user-2.jpg" alt="user" class="rounded-circle thumb-xl img-thumbnail mb-1">
                                                        <h5>Donald Gardner</h5>
                                                        <p class="font-12 text-muted"><i class="fas fa-globe mr-2"></i>Russia Dealer</p>
                                                        <p class="mb-0 text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                                                        <div class="mt-2 align-item-center">
                                                            <h5 class="font-20 d-inline-block mb-0 mr-3 align-self-center">$31200.00</h5>
                                                            <a class="btn btn-sm btn-primary text-light mb-2"><i class="mdi mdi-email-outline mr-1"></i>Message</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="text-center">
                                                        <img src="/images/users/user-1.jpg" alt="user" class="rounded-circle thumb-xl img-thumbnail mb-1">
                                                        <h5>Matt Rosales</h5>
                                                        <p class="font-12 text-muted"><i class="fas fa-globe mr-2"></i>Spain Dealer</p>
                                                        <p class="mb-0 text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                                                        <div class="mt-2 align-item-center">
                                                            <h5 class="font-20 d-inline-block mb-0 mr-3 align-self-center">$29200.00</h5>
                                                            <a class="btn btn-sm btn-primary text-light mb-2"><i class="mdi mdi-email-outline mr-1"></i>Message</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="carousel-control-prev" href="#carousel_best_saler" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carousel_best_saler" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div><!--end card-body-->
                                </div><!--end card-->
                            </div><!--end col-->
                        </div><!--end row-->                                                
                    </div><!--end tab-pane--> #}

                    {# <div class="tab-pane fade" id="profile-activities">
                        <h4 class="mt-0 header-title mb-3">Activity</h4>
                        <div class="activity">
                            <i class="mdi mdi-check text-primary"></i>
                            <div class="time-item">
                                <div class="item-info">
                                    <div class="text-muted text-right font-10">5 minutes ago</div>
                                    <h5 class="my-0">Task finished</h5>
                                    <p class="text-muted font-13">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        <a href="#" class="text-info">[more info]</a>
                                    </p>
                                </div>
                            </div>
                            <img src="/images/users/user-8.jpg" alt="" class="img-activity">                                                                                                            
                            <div class="time-item">
                                <div class="item-info">
                                    <div class="text-muted text-right font-10">30 minutes ago</div>
                                    <h5 class="my-0">Task Overdue</h5>
                                    <p class="text-muted font-13">Lorem ipsum dolor sit amet.
                                        <a href="#" class="text-info">[more info]</a>
                                    </p>
                                </div>
                            </div>
                            <i class="mdi mdi-alert-outline text-danger"></i>    
                            <div class="time-item ">
                                <div class="item-info">
                                    <div class="text-muted text-right font-10">50 minutes ago</div>
                                    <h5 class="my-0">Task finished</h5>
                                    <p class="text-muted font-13">There are many variations of passages of Lorem Ipsum available.
                                        <a href="#" class="text-info">[more info]</a>
                                    </p>
                                </div>
                            </div>
                            <img src="/images/users/user-6.jpg" alt="" class="img-activity">
                            <div class="time-item ">
                                <div class="item-info">
                                    <div class="text-muted text-right font-10">1 Day ago</div>
                                    <h5 class="my-0">New Comment</h5>
                                    <p class="text-muted font-13">Lorem ipsum dolor sit amet.
                                        <a href="#" class="text-info">[more info]</a>
                                    </p>
                                    <img src="/images/products/img-4.png" alt="" class="thumb-sm rounded">
                                    <img src="/images/products/img-5.png" alt="" class="thumb-sm rounded">
                                </div>
                            </div>
                            <img src="/images/users/user-8.jpg" alt="" class="img-activity">                                                                                                                                
                            <div class="time-item">
                                <div class="item-info">
                                    <div class="text-muted text-right font-10">3 Day ago</div>
                                    <h5 class="my-0">Task finished</h5>
                                    <p class="text-muted font-13 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        <a href="#" class="text-info">[more info]</a>
                                    </p>
                                </div>
                            </div>
                            <i class="mdi mdi-comment-outline text-info"></i>
                            <div class="time-item">
                                <div class="item-info">
                                    <div class="text-muted text-right font-10">5 minutes ago</div>
                                    <h5 class="my-0">Task finished</h5>
                                    <p class="text-muted font-13">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        <a href="#" class="text-info">[more info]</a>
                                    </p>
                                </div>
                            </div>
                            <img src="/images/users/user-8.jpg" alt="" class="img-activity">                                                                                                            
                            <div class="time-item">
                                <div class="item-info">
                                    <div class="text-muted text-right font-10">30 minutes ago</div>
                                    <h5 class="my-0">Task Overdue</h5>
                                    <p class="text-muted font-13">Lorem ipsum dolor sit amet.
                                        <a href="#" class="text-info">[more info]</a>
                                    </p>
                                    <img src="/images/products/img-2.png" alt="" class="thumb-sm rounded">
                                </div>
                            </div>
                            <i class="mdi mdi-check text-primary"></i>
                            <div class="time-item">
                                <div class="item-info">
                                    <div class="text-muted text-right font-10">5 minutes ago</div>
                                    <h5 class="my-0">Task finished</h5>
                                    <p class="text-muted font-13">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        <a href="#" class="text-info">[more info]</a>
                                    </p>
                                </div>
                            </div>
                            <img src="/images/users/user-8.jpg" alt="" class="img-activity">                                                                                                            
                            <div class="time-item">
                                <div class="item-info">
                                    <div class="text-muted text-right font-10">30 minutes ago</div>
                                    <h5 class="my-0">Task Overdue</h5>
                                    <p class="text-muted font-13">Lorem ipsum dolor sit amet.
                                        <a href="#" class="text-info">[more info]</a>
                                    </p>                                                            
                                </div>
                            </div>                                                                
                        </div> <!--end activity-->

                        <div class="activity-meeting">
                            <div class="meeting-title">
                                <p class="text-muted mb-0 float-right"><i class="mdi mdi-calendar mr-1"></i>14 Feb 2019</p>
                                <h4 class="header-title mb-3">Meeting With Managers</h4>
                                <div class="card-body bg-light">
                                    <ul class=" mb-0">
                                        <li>There are many variations of passages of Lorem Ipsum available</li>
                                        <li>Contrary to popular belief, Lorem Ipsum is not simply random text. </li>
                                        <li>Various versions have evolved over the years, sometimes by accident.</li>
                                        <li>This book is a treatise on the theory of ethics, very popular during the Renaissance. </li>
                                    </ul>
                                </div><!--end card-body-->
                            </div>
                        </div>
                    </div><!--end tab-pane--> #}

                    <div class="tab-pane fade show active" id="profile-settings">
                        <div class="row">
                            <div class="col-lg-12">
                                {# <form method="post" class="card-box">
                                    <input type="file" id="input-file-now-custom-1" class="dropify" data-default-file="/images/users/user-4.jpg"/>
                                    <span class="input-icon icon-right">
                                        <textarea rows="4" class="form-control" placeholder="Post a new message"></textarea>
                                    </span>
                                    <div class="float-right my-3">
                                        <a class="btn btn-sm btn-primary text-light px-4 mb-0">Send</a>
                                    </div>
                                    <ul class="nav nav-pills profile-pills mt-1">                                                                
                                        <li>
                                            <a href="#"><i class=" fas fa-video font-18 mr-2 mt-2 text-primary"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fas fa-camera  font-18 mx-2 mt-2 text-primary"></i></a>
                                        </li>
                                    </ul>
                                </form> #}

                                <div class="">
                                    {# <form class="form-horizontal form-material mb-0"> #}
                                    {{ form_start(form, {'attr': {'class': "form-horizontal form-material mb-0"}}) }}
                                        <div class="form-group">
                                            {# <input type="text" placeholder="Full Name" class="form-control"> #}
                                            {{ form_widget(form.socialReason, {'attr': {'class': "form-control"}}) }}
                                            <small class="form-text text-muted">Raison Sociale ou Nom de l'entreprise</small>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <div class="col-md-5 mb-2">
                                                {# <input type="email" placeholder="Email" class="form-control" name="example-email" id="example-email"> #}
                                                {{ form_widget(form.niu, {'attr': {'class': "form-control"}}) }}
                                                <small class="form-text text-muted">Numéro d'Identification Unique</small>
                                            </div>
                                            <div class="col-md-5 mb-2">
                                                {# <input type="password" placeholder="password" class="form-control"> #}
                                                {{ form_widget(form.rccm, {'attr': {'class': "form-control"}}) }}
                                                <small class="form-text text-muted">Numéro du Registre du Commerce</small>
                                            </div>
                                            <div class="col-md-2 ">
                                                {# <input type="password" placeholder="Re-password" class="form-control"> #}
                                                {# {{ form_widget(form.tva, {'attr': {'class': "form-control"}}) }} #}
                                                <div class="input-group">
                                                    {{ form_widget(form.tva, {'attr': {'class': "form-control"}}) }}
                                                    <small class="form-text text-muted">TVA(en %) à appliquer dans les factures (* Obligatoire)</small>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4 mb-2">
                                                {# <input type="text" placeholder="Phone No" class="form-control"> #}
                                                {{ form_widget(form.phoneNumber, {'attr': {'class': "form-control"}}) }}
                                                <small class="form-text text-muted">Numéro de téléphone de l'entreprise</small>
                                            </div>
                                            <div class="col-md-4 mb-2">
                                                {{ form_widget(form.email, {'attr': {'class': "form-control"}}) }}
                                                <small class="form-text text-muted">Email de l'entreprise</small>
                                            </div>
                                            <div class="col-md-4">
                                                {{ form_widget(form.country, {'attr': {'class': "form-control"}}) }}
                                                <small class="form-text text-muted">Pays</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {# <input type="text" placeholder="Full Name" class="form-control"> #}
                                            {{ form_widget(form.address, {'attr': {'class': "form-control"}}) }}
                                            <small class="form-text text-muted">Adresse du siège social de l'entreprise</small>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-4 mb-2">
                                               {# <input type="text" placeholder="Full Name" class="form-control"> #}
                                               {{ form_widget(form.currency, {'attr': {'class': "form-control"}}) }}
                                               <small class="form-text text-muted">Devise utilisée dans les documents</small>
                                            </div>
                                            <div class="col-8 mb-2">
                                               {{ form_widget(form.logo, {'attr': {'class': "form-control"}}) }}
                                               <small class="form-text text-muted">Logo de l'entreprise (formats : png ou jpg)</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {# <textarea rows="5" placeholder="Message" class="form-control"></textarea> #}
                                            {{ form_widget(form.description, {'attr': {'class': "form-control"}}) }}
                                            <small class="form-text text-muted">Brève description de l'entreprise</small>
                                            <button type="submit" class="btn btn-primary btn-sm text-light px-4 mt-3 float-right mb-0" id="updateBtn">Update Profile</button>
                                        </div>
                                    {# </form> #}
                                    {{ form_end(form) }}
                                </div>
                            </div> <!--end col-->                                          
                        </div><!--end row-->
                    </div><!--end tab-pane-->

                    {% if hasStockModule %}
                    <div class="tab-pane fade" id="profile-pro-stock">
                        <h4 class="mt-0 header-title mb-3">Produits en Stock</h4>
                        <div class="table-responsive">
                            <table id="datatable2" class="table table-hover mb-0 dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr class="align-self-center">
                                        {# <th>No</th> #}
                                        <th>Sku</th>
                                        <th>Nom du Produit</th>
                                        <th class="text-center">Prix unitaire (XAF)</th>                                                                
                                        {# <th>Color</th>
                                        <th>Size</th>
                                        <th>Pics</th>
                                        <th>Rating</th> #}
                                    </tr><!--end tr-->
                                </thead>
                                <tbody>
                                    {% for product in app.user.enterprise.products %}
                                    {% if product.hasStock == 1 %}
                                    <tr>
                                        {# <td>1</td>
                                        <td><img src="/images/products/img-2.png" alt="" class="thumb-sm rounded-circle mr-2">Watch</td> #}
                                        <td>{{product.sku}}</td>
                                        <td>{{product.name}}</td>
                                        <td class="text-center">{{product.price}}</td>
                                        {# <td>3,<del>4</del>,5</td>
                                        <td>55</td>
                                        <td>
                                            <i class="mdi mdi-star text-warning"></i>
                                            <i class="mdi mdi-star text-warning"></i>
                                            <i class="mdi mdi-star text-warning"></i>
                                            <i class="mdi mdi-star-half text-warning"></i>
                                            <i class="mdi mdi-star-outline  text-warning"></i>
                                        </td>                                                                         #}
                                    </tr><!--end tr-->
                                    {% endif %}
                                    {% endfor %}
                                </tbody><!--end tbody-->
                            </table><!--end table-->
                        </div><!--end table-responsive-->
                        {# <div class="pt-3 border-top text-right">
                            <a href="#" class="text-primary">View all <i class="mdi mdi-arrow-right"></i></a>
                        </div>  #}

                        {# <div class="new-product mt-5">
                            <h4 class="mt-0 header-title">Coming Soon Products</h4>
                            <p class="text-muted">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form, by injected. </p>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="new-product-img">
                                        <div class="card-body text-center">
                                            <img src="/images/products/img-1.png" alt="" height="220" class="">
                                            <h4 class="mb-0">Nike Bag</h4>
                                            <small class="text-muted">New Modal Nike Bag</small>
                                            <h6>MRP: $99.00</h6>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-4">
                                    <div class="new-product-img">
                                        <div class="card-body text-center">
                                            <img src="/images/products/img-5.png" alt="" height="220" class="">
                                            <h4 class="mb-0">Nike Shoes</h4>
                                            <small class="text-muted">PU Leather Pasted 20</small>
                                            <h6>MRP: $12.00</h6>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-4">
                                    <div class="new-product-img">
                                        <div class="card-body text-center">
                                            <img src="/images/products/img-3.png" alt="" height="220" class="">
                                            <h4 class="mb-0">Headphone F2019</h4>
                                            <small class="text-muted">Wired Connectivity</small>
                                            <h6>MRP: $199.00</h6>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end new-product--> #}
                    </div><!--end tab-pen-->
                    {% endif %}
                    
                </div>  <!--end tab-content-->                                                                              
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
{% endblock %}

{% block javascripts %}
<script>
    var fv = {{fv}};
    var fa = {{fa}};
    var qte = {{qte}};
</script>
<script src="/plugins/moment/moment.js"></script>
<script src="/plugins/apexcharts/apexcharts.min.js"></script>
{# <script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script>
<script src="https://apexcharts.com/samples/assets/series1000.js"></script>
<script src="https://apexcharts.com/samples/assets/ohlc.js"></script> #}
<script src="/plugins/dropify/js/dropify.min.js"></script>
{# <script src="/plugins/ticker/jquery.jConveyorTicker.min.js"></script> #}
<script src="/plugins/peity-chart/jquery.peity.min.js"></script>
<script src="/plugins/chartjs/chart.min.js"></script>
<script src="/pages/jquery.profile.init1.js"></script>

<script src="/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/plugins/datatables/jszip.min.js"></script>
<script src="/plugins/datatables/pdfmake.min.js"></script>
<script src="/plugins/datatables/vfs_fonts.js"></script>
<script src="/plugins/datatables/buttons.html5.min.js"></script>
<script src="/plugins/datatables/buttons.print.min.js"></script>
<script src="/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>
<script src="/pages/jquery.datatable.init.js"></script> 

<script>
    $('#enterprise_tva').attr('type', 'number');

</script>
{% endblock %}