{% extends 'base.html.twig' %}

{% block title %} Création d'un Lot {% endblock %}

{% block stylesheets %}
<link href="/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block pageTitle %}
<h4 class="page-title mb-2"><i class="mdi mdi-account-multiple mr-2"></i>Lot</h4>  
{% endblock %}

{% block breadcrumb %}
    <div class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Nouveau</li>
            <li class="breadcrumb-item active">Lot</li>
        </ol>
    </div>
{% endblock %}

{% block body %}
<div class="row ">
    <div class="col-12">
        <div class="card">
            <div class="card-body mx-5">        
                <h4 class="mt-2 mb-4 header-title">Création de Lot</h4>
                {{ form_start(form) }}
                    {#{{ form_widget(form) }}#}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                {{ form_label(form.number, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div>
                            {{ form_widget(form.number, {'attr': {'class': "form-control"}}) }}
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                {{ form_label(form.quantity, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div>
                            {{ form_widget(form.quantity, {'attr': {'class': "form-control"}}) }}
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                {{ form_label(form.dlc, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div>
                            {{ form_widget(form.dlc, {'attr': {'class': "form-control"}}) }}
                            
                        </div>
                    </div>

                    <div class="form-group {% if include_product == false %}d-none{% endif %}">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                {{ form_label(form.product, null, {'label_attr': {'class': 'input-group-text'} }) }}
                            </div>
                            {{ form_widget(form.product, {'attr': {'class': "select2 custom-select"}}) }}
                            
                        </div>
                    </div>

                    <div class="form-group {% if include_inventory == false %}d-none{% endif %}">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                {{ form_label(form.inventory, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div>
                            {{ form_widget(form.inventory, {'attr': {'class': "form-control"}}) }}
                            
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary waves-effect" id="saveBtn">
                        <span class="spinner-border spinner-border-sm mr-1 d-none" role="status" aria-hidden="true"></span>
                        Save
                    </button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<!-- Plugins js -->
<script src="/plugins/select2/select2.min.js"></script>

<script>
    var productId = '#lot_product';
        
    $(productId).select2({
        //width: 'auto',
        //height: '300%',
        //dropdownCssClass: "custom-select"
    });

    $('#saveBtn').click(function(){
        //block of code that runs when the click event triggers
        $(this).children('i').addClass('d-none');
        $(this).children('span').removeClass('d-none');
        //$('#saveBtn').prop('disabled', true);
    });
    $('#inventory_approvDelay').attr('type', 'number');
    $('#inventory_orderingFreq').attr('type', 'number');
    $('#inventory_txOfService').attr('type', 'number');
</script>

{% endblock %}