{% extends 'base.html.twig' %}

{% block title %} {{app.user.enterprise.socialReason}} Dashboard  {% endblock %}

{% block stylesheets %}
<!-- DataTables -->
<link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 

<!-- Clock css -->
<link href="/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />  

<!-- Sweet Alert -->
<link href="/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block pageTitle %}
<h4 class="page-title mb-2">{{app.user.enterprise.socialReason}}</h4>  
{% endblock %}

{% set iconStock = true %}
{% block breadcrumb %}
    <div class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">{{app.user.enterprise.socialReason}}</li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            {# <h4 class="mt-0 header-title">Date Range Picker</h4>  
            <P class="mt-0 text-muted mb-4">A JavaScript component for choosing date ranges, dates and times.</P>  #}
            <div class="my-3">
                <label class="my-3">Choisir la plage de date</label>
                <div class="input-group">  
                    <input type="text"  id="reportrange" class="form-control" value="07/10/2020">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-12 col-sm-6">
                    <div class="card overflow-hidden">
                        <div class="card-body bg-gradient3">
                            <div class="">
                                <div class="card-icon">
                                    <i class="fas fa-coins"></i>
                                </div>
                                <h2 class="font-weight-bold text-white"><span id="outstandingClaim">0</span> XAF</h2>
                                <p class="text-white mb-0 font-16">Créances en cours</p>                                            
                            </div>
                        </div><!--end card-body-->
                        {# <div class="card-body">
                            <div class="">
                                <div id="d1_payment" class="apex-charts"></div>
                            </div> 
                        </div><!--end card-body--> #}
                    </div><!--end card-->
                </div><!--end col-->

                <div class="col-12 col-sm-6">
                    <div class="card overflow-hidden">
                        <div class="card-body bg-gradient2">
                            <div class="">
                                <div class="card-icon">
                                    <i class="fas fa-coins"></i>
                                </div>
                                <h2 class="font-weight-bold text-white"><span id="DFHT">0</span> XAF</h2>
                                <p class="text-white mb-0 font-16">Dettes fournisseurs TTC en cours</p>                                            
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end col-->

            </div> 
        </div><!--end card-body-->
    </div><!--end card-->

    
    <div class="row">
        <div class="col-lg-4">
            <div class="card overflow-hidden">
                <div class="card-body bg-gradient2">
                    <div class="">
                        <div class="card-icon">
                            <i class="fas fa-exchange-alt"></i>
                        </div>
                        <h2 class="font-weight-bold text-white">Flux de Trésorerie</h2>
                        {# <p class="text-white mb-0 font-16"></p> #}
                    </div>
                </div><!--end card-body-->
                <div class="card-body">
                    <div class="">
                        <div id="flux_tresorerie" class="apex-charts"></div>
                    </div> 
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->

        <div class="col-lg-8">
            <div class="card">    
                <div class="card-body mb-0">
                    <div class="row">                                            
                        <div class="col-8 align-self-center">
                            <div class="">
                                <h4 class="mt-0 header-title">Chiffre d'affaire HT</h4>
                                <h2 class="mt-0 font-weight-bold text-dark"><span id="turnOver">0</span> XAF</h2> 
                                {# <p class="mb-0 text-muted"><span class="text-success"><i class="mdi mdi-arrow-up"></i>14.5%</span> Up from yesterday</p> #}
                            </div>
                        </div><!--end col-->

                        <div class="col-4 align-self-center">
                            <div class="icon-info text-right">
                                <i class="dripicons-wallet bg-soft-success"></i>
                            </div>
                        </div><!--end col-->

                    </div><!--end row-->

                </div><!--end card-body-->

                <div class="card-body overflow-hidden pt-5 pb-0 mt-3">
                    <div class="d-flex mb-0 h-100 dash-info-box">
                        <div class="w-100">                                                
                            <div class="apexchart-wrapper">
                                <div id="turnOverColumnChart" class="chart-gutters"></div>
                            </div>
                        </div>
                    </div>
                </div><!--end card-body--> 

            </div><!--end card-->
        </div>
        
    </div>    

    {# <div class="card">    
        <div class="card-body mb-0">
            <div class="row">                                            
                <div class="col-8 align-self-center">
                    <div class="">
                        <h4 class="mt-0 header-title">Recettes</h4>
                        <h2 class="mt-0 font-weight-bold text-dark"><span id="amountRecettes">0</span> XAF</h2> 
                        <!-- <p class="mb-0 text-muted"><span class="text-success"><i class="mdi mdi-arrow-up"></i>14.5%</span> Up from yesterday</p> -->
                    </div>
                </div><!--end col-->

                <div class="col-4 align-self-center">
                    <div class="icon-info text-right">
                        <i class="dripicons-wallet bg-soft-success"></i>
                    </div>
                </div><!--end col-->

            </div><!--end row-->

        </div><!--end card-body-->

        <div class="card-body overflow-hidden pt-5 pb-0 mt-3">
            <div class="d-flex mb-0 h-100 dash-info-box">
                <div class="w-100">                                                
                    <div class="apexchart-wrapper">
                        <div id="amountRecettesColumnChart" class="chart-gutters"></div>
                    </div>
                </div>
            </div>
        </div><!--end card-body--> 

    </div><!--end card-->
    
    <div class="card">
        <div class="card-body mb-0">
            <div class="row">                                            
                <div class="col-8 align-self-center">
                    <div class="">
                        <h4 class="mt-0 header-title">Dépenses Fournisseurs TTC</h4>
                        <h2 class="mt-0 font-weight-bold text-dark"><span id="expenses">0</span> XAF</h2> 
                        <!-- <p class="mb-0 text-muted"><span class="text-success"><i class="mdi mdi-arrow-up"></i>14.5%</span> Up from yesterday</p> -->
                    </div>
                </div><!--end col-->
                <div class="col-4 align-self-center">
                    <div class="icon-info text-right">
                        <i class="dripicons-wallet bg-soft-danger"></i>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end card-body-->
        <div class="card-body overflow-hidden pt-5 pb-0 mt-3">
            <div class="d-flex mb-0 h-100 dash-info-box">
                <div class="w-100">                                                
                    <div class="apexchart-wrapper">
                        <div id="expensesColumnChart" class="chart-gutters"></div>
                    </div>
                </div>
            </div>
        </div><!--end card-body-->                                                                    
    </div><!--end card--> #}
  
    <div class="row">
        <div class="col-lg-6">
            <div class="card overflow-hidden">
                <div class="card-body bg-gradient1">
                    <div class="">
                        <div class="card-icon">
                            <i class="mdi mdi-google-pages"></i>
                        </div>
                        <h2 class="font-weight-bold text-white">10</h2>
                        <p class="text-white mb-0 font-16">Top 10 des Produits les plus vendus</p>                                            
                    </div>
                </div>
                <div class="card-body dash-info-carousel">                                        
                    <div id="carousel_best_sellingProduct" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for i in range(0,9) %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <div class="text-center">
                                    {# <img src="/images/users/user-4.jpg" alt="user" class="rounded-circle thumb-xl img-thumbnail mb-1"> #}
                                    <h3>#{{i + 1}}</h3>
                                    <h5><span id="ref_{{i}}">######</span></h5>
                                    <p class="font-12 text-muted"><span id="designation_{{i}}"></span></p>
                                    <p class="font-12 text-muted">Prix unitaire : <span id="pu_{{i}}">0</span> XAF</p>
                                    <p class="font-12 text-muted">Total des ventes : <span id="totalSale_{{i}}">0</span></p>
                                    {# <p class="mb-0 text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p> #}
                                    <div class="mt-2 align-item-center">
                                        <h5 class="font-20 d-inline-block mb-0 mr-3 align-self-center"><span id="amount_{{i}}">0</span> XAF</h5>
                                        {# <a class="btn btn-sm btn-primary text-light mb-2"><i class="mdi mdi-email-outline mr-1"></i>Message</a> #}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carousel_best_sellingProduct" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel_best_sellingProduct" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    {# {% if app.user.enterprise.products|length > 10 %} #}
                    <div class="pt-3 border-top text-right">
                        <a href="#" class="text-primary" data-toggle="modal" data-target=".bd-example-modal-xl_productSchedule" data-toggle="tooltip" data-placement="top" title="Voir le Classement Général">Voir Tout <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                    
                    <!-- Custom Modal -->
                    <div class="modal fade bd-example-modal-xl_productSchedule" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myModalLabel">Classement des produits par Total de Vente</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body table-responsive">
                                    <table id="datatable-buttonsProd" class="table table-striped table-fixed nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr class="text-center">
                                                <th>#</th>
                                                <th>SKU</th>
                                                <th>Nom</th>
                                                <th>P.U</th>
                                                <th>Qtés Vendues</th>
                                                <th>Revenus Générés</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {# {% for lot_ in lotPeremp %}
                                            <tr class="text-center">
                                                <td>{{ lot_.number }}</td>
                                                <td>{{ lot_.dlc|date('d-m-Y') }}</td>
                                                <td style="width:5px">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="lot{{lot_.id}}" type="checkbox" name="lotToRemove" value="{{lot_.id}}">
                                                        <label for="lot{{lot_.id}}"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %} #}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                    {# {% endif %} #}
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->

        <div class="col-lg-6">
            <div class="card overflow-hidden">
                <div class="card-body bg-gradient3">
                    <div class="">
                        <div class="card-icon">
                            <i class="dripicons-network-1"></i>
                        </div>
                        <h2 class="font-weight-bold text-white">10</h2>
                        <p class="text-white mb-0 font-16">Top 10 des Catégories les plus vendues</p>                                            
                    </div>
                </div>
                <div class="card-body dash-info-carousel">                                        
                    <div id="carousel_sale_per_category" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for i in range(0,9) %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <div class="text-center">
                                    <h3>#{{ i + 1 }}</h3>
                                    <h5><span id="nameCat_{{i}}">######</span></h5>
                                    <br>
                                    <br>
                                    <p class="font-12 text-muted">Total des ventes : <span id="totalSaleCat_{{i}}">0</span></p>
                                    <div class="mt-2 align-item-center">
                                        <h5 class="font-20 d-inline-block mb-0 mr-3 align-self-center"><span id="amountCat_{{i}}">0</span> XAF</h5>
                                        
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carousel_sale_per_category" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel_sale_per_category" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    {# {% if app.user.enterprise.categories|length > 10 %} #}
                    <div class="pt-3 border-top text-right">
                        <a href="#" class="text-primary" data-toggle="modal" data-target=".bd-example-modal-xl_categorySchedule" data-toggle="tooltip" data-placement="top" title="Voir le Classement Général">Voir Tout <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                    
                    <!-- Custom Modal -->
                    <div class="modal fade bd-example-modal-xl_categorySchedule" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel2" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myModalLabel2">Classement Général des Catégories de produits par Total de Vente</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body table-responsive">
                                    <table id="datatable-buttonsCat" class="table table-striped table-fixed nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr class="text-center">
                                                <th>#</th>
                                                <th>Nom</th>
                                                <th>Qtés Vendues</th>
                                                <th>Revenus Générés</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                    {# {% endif %} #}
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->

    </div><!--end row-->
    
    <div class="row">
        <div class="col-lg-6">
            <div class="card carousel-bg-img">
                <div class="card-body dash-info-carousel mb-0">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">                                            
                                    <div class="col-12 align-self-center">
                                        <div class="text-center">
                                            <h4 class="mt-0 header-title text-left">Nombre de factures éditées</h4>
                                            <div class="icon-info my-3">
                                                <i class="mdi mdi-file-table-outline bg-soft-pink"></i>
                                            </div>
                                            <h2 class="mt-0 font-weight-bold text-dark"><span id="nbBill">0</span></h2> 
                                            {#<p class="mb-1 text-muted"><span class="text-success"><i class="mdi mdi-arrow-up"></i>35.5%</span> Last 100 Subscriptions</p> #}
                                        </div>
                                    </div><!--end col-->                                                        
                                </div><!--end row-->                                                    
                            </div><!--end carousel-item-->
                            <div class="carousel-item">
                                <div class="row">                                            
                                    <div class="col-12 align-self-center">
                                        <div class="text-center">
                                            <h4 class="mt-0 header-title text-left">Nombre de bons de commandes édités</h4>
                                            <div class="icon-info my-3">
                                                <i class="mdi mdi-file-table-outline bg-soft-info"></i>
                                            </div>
                                            <h2 class="mt-0 font-weight-bold text-dark"><span id="nbPurchaseOrder">0</span></h2> 
                                            {# <p class="mb-1 text-muted"><span class="text-danger"><i class="mdi mdi-arrow-down"></i>1.5%</span> Down From Last week</p> #}
                                        </div>
                                    </div><!--end col-->                                                        
                                </div><!--end row-->                                                    
                            </div><!--end carousel-item-->

                            <div class="carousel-item">
                                <div class="row">                                            
                                    <div class="col-12 align-self-center">
                                        <div class="text-center">
                                            <h4 class="mt-0 header-title text-left">Nombre de dévis édités</h4>
                                            <div class="icon-info my-3">
                                                <i class="mdi mdi-file-table-outline bg-soft-primary"></i>
                                            </div>
                                            <h2 class="mt-0 font-weight-bold text-dark"><span id="nbQuote">0</span></h2> 
                                            {# <p class="mb-1 text-muted"><span class="text-success"><i class="mdi mdi-arrow-up"></i>11.1%</span> Up from Last Month</p> #}
                                        </div>
                                    </div><!--end col-->                                                        
                                </div><!--end row-->                                                    
                            </div><!--end carousel-item-->
                            <div class="carousel-item">
                                <div class="row">                                            
                                    <div class="col-12 align-self-center">
                                        <div class="text-center">
                                            <h4 class="mt-0 header-title text-left">Nombre de dévis convertis</h4>
                                            <div class="icon-info my-3">
                                                <i class="mdi mdi-file-table-outline bg-soft-warning"></i>
                                            </div>
                                            <h2 class="mt-0 font-weight-bold text-dark"><span id="nbConvertedQuote">0</span></h2> 
                                            {# <p class="mb-1 text-muted">All International Brands</p> #}
                                        </div>
                                    </div><!--end col-->                                                        
                                </div><!--end row-->                                                    
                            </div><!--end carousel-item-->
                            
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div><!--end card-body-->                                                                                                        
            </div><!--end card-->
        </div><!--end col--> 

        <div class="col-lg-6">                
            <div class="card overflow-hidden">
                <div class="card-body bg-gradient2">
                    <div class="">
                        <div class="card-icon">
                            <i class="mdi mdi-google-pages"></i>
                        </div>
                        <h2 class="font-weight-bold text-white"><span id="nbProductsSold">0</span></h2>
                        <p class="text-white mb-0 font-16">Nombre de Produits vendus</p>                                            
                    </div>
                </div><!--end card-body-->
                {# <div class="card-body">
                    <div class="">
                        <div id="d1_payment" class="apex-charts"></div>
                    </div> 
                </div><!--end card-body--> #}
            </div><!--end card-->
        </div>

    </div><!--end row-->
    
{% endblock %}

{% block javascripts %}
<!-- Required datatable js -->
{#
<div class="form-group my-2">
    <h6 class=" input-title mt-lg-3">Specify the Date Range</h6>
    <div class="row">
        <div class="input-daterange input-group col-6" id="date-range">
            <input type="text" class="form-control" name="start" placeholder="Start Date (dd/mm/yyyy)" />
            <input type="text" class="form-control" name="end" placeholder="End Date (dd/mm/yyyy)" />
            <span class="input-group-append">
                <button type="button" id="reloadBtn" class="btn btn-soft-primary"><i class="fas fa-sync"></i> </button>
            </span>
        </div>
    </div>
</div>

#}
<script src="/plugins/moment/moment.js"></script>
<script src="/plugins/apexcharts/apexcharts.min.js"></script>
{# <script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script>
<script src="https://apexcharts.com/samples/assets/series1000.js"></script>
<script src="https://apexcharts.com/samples/assets/ohlc.js"></script> #}
<script src="/pages/jquery.dashboard.init2.js"></script>

<!-- Plugins js -->
{# <script src="/plugins/moment/moment.js"></script> #}
<script src="/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
{# <script src="/plugins/timepicker/tempusdominus-bootstrap-4.js"></script>
<script src="/plugins/timepicker/bootstrap-material-datetimepicker.js"></script>
<script src="/plugins/clockpicker/jquery-clockpicker.min.js"></script>
<script src="/plugins/colorpicker/jquery-asColor.js"></script>
<script src="/plugins/colorpicker/jquery-asGradient.js"></script>
<script src="/plugins/colorpicker/jquery-asColorPicker.min.js"></script>
<script src="/plugins/select2/select2.min.js"></script> #}

{# <script src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script> #}

{# <script src="/pages/jquery.clock-img.init.js"></script> #}
<script src="/pages/jquery.forms-advanced.js"></script>

<!-- Required datatable js -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
{# <!-- 

https://code.jquery.com/jquery-3.5.1.js
https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js
https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js
https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js
https://cdn.datatables.net/buttons/1.6.4/js/buttons.colVis.min.js

--> #}
<script src="/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/plugins/datatables/jszip.min.js"></script>
<script src="/plugins/datatables/pdfmake.min.js"></script>
<script src="/plugins/datatables/vfs_fonts.js"></script>
<script src="/plugins/datatables/buttons.html5.min.js"></script>
<script src="/plugins/datatables/buttons.print.min.js"></script>
<script src="/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>
<script src="/pages/jquery.datatable.init.js"></script>    

<script src="/plugins/custombox/custombox.min.js"></script>
<script src="/plugins/custombox/custombox.legacy.min.js"></script>

<script src="/pages/jquery.modal-animation.js"></script>

<!-- Sweet-Alert  -->
<script src="/plugins/sweet-alert2/sweetalert2.min.js"></script>

<script>
    var ent = {{ app.user.enterprise.id }};

    var tableProduct = $('#datatable-buttonsProd').DataTable({
        lengthChange: false,
        buttons: ['pdf'],//'copy', 'excel', , 'colvis'
        columnDefs: [
            {
                targets: '_all',
                className: 'text-center'
            }
        ]
    });

    tableProduct.buttons().container()
        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');

    var tableCategory = $('#datatable-buttonsCat').DataTable({
        lengthChange: false,
        buttons: ['pdf'],//'copy', 'excel', , 'colvis'
        columnDefs: [
            {
                targets: '_all',
                className: 'text-center'
            }
        ]
    });

    {# tableCategory.buttons().container()
        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)'); #}

    var drp = $('#reportrange').data('daterangepicker');
    //console.log('drp = ' + drp.startDate.format('YYYY-MM-DD'));
    var startDate = drp.startDate.format('YYYY-MM-DD');
    var endDate = drp.endDate.format('YYYY-MM-DD');
    
    {# console.log('startDate = ' + startDate);
    console.log('endDate = ' + endDate); #}
    var _url = "{{path('enterprise_dash_update')}}";
    
    var $data = JSON.stringify({
        "startDate": startDate,//tabGridId,
        "endDate": endDate,//tabFuelId,
        "ent": ent
    });   

    swal.queue([{
        title: 'Le tableau de bord sera mis à jour pour la plage de date suivante :',
        confirmButtonText: 'Confirmez',
        text: 'Du ' + startDate + ' Au ' + endDate,
        //showCancelButton: true,
        showLoaderOnConfirm: true,
        confirmButtonClass: 'btn btn-primary',
        //cancelButtonClass: 'btn btn-danger ml-2',
        preConfirm: function () {
            return new Promise(function (resolve) {
                /*$.get('https://api.ipify.org?format=json')
                    .done(function (data) {
                        swal.insertQueueStep(data.ip)
                        resolve()
                    })*/
                $.ajax({
                    type: "POST",//method type
                    contentType: "application/json; charset=utf-8",
                    url: _url,///Target function that will be return result
                    data: $data,//parameter pass data is parameter name param is value 
                    dataType: "json",
                    timeout: 120000,//64241
                    success: function (data) {
                        //$('.fa-sync').removeClass('fa-spin');                                  
                        console.log(data);
                        $('#turnOver').text(data['turnOverHT']);
                        //$('#amountRecettes').text(data['amountRecettes']);
                        //$('#expenses').text(data['expenses']);
                        $('#nbBill').text(data['billNb']);
                        $('#nbPurchaseOrder').text(data['purchaseNb']);
                        $('#nbQuote').text(data['quoteNb']);
                        $('#nbConvertedQuote').text(data['converted']);
                        $('#DFHT').text(data['outstandingDebt']);
                        $('#outstandingClaim').text(data['outstandingClaim']);
                        $('#nbProductsSold').text(data['nbProductsSold']);

                        //console.log('Type of best : ' + typeof data['bestSellingProducts'] );
                        data['bestSellingProducts'].forEach(function(item, index){
                            if(index < 10){
                                $('#ref_' + index).text(item['ref']);
                                $('#designation_' + index).text(item['designation']);
                                $('#pu_' + index).text(item['pu']);
                                $('#totalSale_' + index).text(item['totalSale']);
                                $('#amount_' + index).text(item['amount']);

                            }

                            tableProduct
                                .row.add( [ String(index + 1), item['ref'], String(item['designation']), 
                                String(item['pu']), String(item['totalSale']),String(item['amount'])] )
                                .draw();
                        });

                        data['bestSellingProdCategory'].forEach(function(item, index){
                            if(index < 10){
                                $('#nameCat_' + index).text(item['name']);
                                $('#totalSaleCat_' + index).text(item['totalSale']);
                                $('#amountCat_' + index).text(item['amount']);
                            }

                            tableCategory
                                .row.add( [ String(index + 1), item['name'], String(item['totalSale']),String(item['amount'])] )
                                .draw();
                        });
                        //console.log('flux tresorerie :' + typeof parseFloat(data['flux_tresorerie'][0]));
                        displayNewData1(turnOverColumnChart, data['xturnOverPer'], data['turnOverAmountPer'], /*dateopt, */1, data['per']);
                        {# displayNewData1(fluxTresorerieDonutChart, ["Recettes", "Dépenses Fournisseurs TTC"], [parseFloat(data['flux_tresorerie'][0]),parseFloat(data['flux_tresorerie'][1])], /*dateopt, */1, data['per']); #}
                        {# displayNewData1(amountRecettesColumnChart, data['xamountRecettesPer'], data['amountRecettesPer'], /*dateopt, */1, data['per']);
                        displayNewData1(expensesColumnChart, data['xexpensesPer'], data['expensesAmountPer'], /*dateopt, */1, data['per']); #}
                        
                        var dataArray = [parseFloat(data['flux_tresorerie'][0]),parseFloat(data['flux_tresorerie'][1])];
                        updateDonutChart(fluxTresorerieDonutChart, [String("Recettes : " + String(data['flux_tresorerie'][0]) + " XAF"), String("Dépenses : " + data['flux_tresorerie'][1] + " XAF")], dataArray);

                        swal({
                            type: 'success',
                            title: 'Le tableau de bord a été mis à jour !',
                            //html: 'Submitted email: ' + email
                        });

                        setTimeout(function () {
                            resolve()
                        }, 2000);
                    },
                    error: function (result) {
                        //console.log("Error");
                        //console.log(result);
                        swal(
                            'Oops...',
                            'Something went wrong!',
                            'error'
                            //footer: '<a href>Why do I have this issue?</a>'
                        );

                        /*Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                            footer: '<a href>Why do I have this issue?</a>'
                        });*/

                        setTimeout(function () {
                            resolve()
                        }, 5000);
                    }
                });
            })
        },
        allowOutsideClick: false
    }]);
        
    {# //var start = moment().subtract(29, 'days');
    //var end = moment();
    //console.log('start = ' + start);
    //console.log('end = ' + end);

    //change the selected date range of that picker
    //$('#reportrange').data('daterangepicker').setStartDate(start);
    //$('#reportrange').data('daterangepicker').setEndDate(end); #}

    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
        console.log(picker.startDate.format('YYYY-MM-DD'));
        console.log(picker.endDate.format('YYYY-MM-DD'));
    
        $('.fa-sync').addClass('fa-spin');
        var startDate = picker.startDate.format('YYYY-MM-DD');
        var endDate = picker.endDate.format('YYYY-MM-DD');
        
        console.log('startDate = ' + startDate);
        console.log('endDate = ' + endDate);
        //block of code that runs when the click event triggers
        
        var $data = JSON.stringify({
            "startDate": startDate,//tabGridId,
            "endDate": endDate,//tabFuelId,
            "ent": ent
        });   

        //Danger
        
        swal.queue([{
            title: 'Le tableau de bord sera mis à jour pour la plage de date suivante :',
            confirmButtonText: 'Confirmez',
            text: 'Du ' + startDate + ' Au ' + endDate,
            showCancelButton: true,
            showLoaderOnConfirm: true,
            confirmButtonClass: 'btn btn-primary',
            cancelButtonClass: 'btn btn-danger ml-2',
            preConfirm: function () {
                return new Promise(function (resolve) {
                    /*$.get('https://api.ipify.org?format=json')
                        .done(function (data) {
                            swal.insertQueueStep(data.ip)
                            resolve()
                        })*/
                    $.ajax({
                        type: "POST",//method type
                        contentType: "application/json; charset=utf-8",
                        url: _url,///Target function that will be return result
                        data: $data,//parameter pass data is parameter name param is value 
                        dataType: "json",
                        timeout: 120000,//64241
                        success: function (data) {
                            //$('.fa-sync').removeClass('fa-spin');                                  
                            console.log(data);
                            $('#turnOver').text(data['turnOverHT']);
                            //$('#amountRecettes').text(data['amountRecettes']);
                            //$('#expenses').text(data['expenses']);
                            $('#nbBill').text(data['billNb']);
                            $('#nbPurchaseOrder').text(data['purchaseNb']);
                            $('#nbQuote').text(data['quoteNb']);
                            $('#nbConvertedQuote').text(data['converted']);
                            $('#DFHT').text(data['outstandingDebt']);
                            $('#outstandingClaim').text(data['outstandingClaim']);
                            $('#nbProductsSold').text(data['nbProductsSold']);

                            //console.log('Type of best : ' + typeof data['bestSellingProducts'] );
                            data['bestSellingProducts'].forEach(function(item, index){
                                $('#ref_' + index).text(item['ref']);
                                $('#designation_' + index).text(item['designation']);
                                $('#pu_' + index).text(item['pu']);
                                $('#totalSale_' + index).text(item['totalSale']);
                                $('#amount_' + index).text(item['amount']);

                                tableProduct
                                    .row.add( [ String(index + 1), item['ref'], String(item['designation']), 
                                    String(item['pu']), String(item['totalSale']),String(item['amount'])] )
                                    .draw();
                            });

                            data['bestSellingProdCategory'].forEach(function(item, index){
                                $('#nameCat_' + index).text(item['name']);
                                $('#totalSaleCat_' + index).text(item['totalSale']);
                                $('#amountCat_' + index).text(item['amount']);

                                tableCategory
                                    .row.add( [ String(index + 1), item['name'], String(item['totalSale']),String(item['amount'])] )
                                    .draw();
                            });
                            
                            displayNewData1(turnOverColumnChart, data['xturnOverPer'], data['turnOverAmountPer'], /*dateopt, */1, data['per']);
                            {# displayNewData1(amountRecettesColumnChart, data['xamountRecettesPer'], data['amountRecettesPer'], /*dateopt, */1, data['per']);
                            displayNewData1(expensesColumnChart, data['xexpensesPer'], data['expensesAmountPer'], /*dateopt, */1, data['per']); #}

                            var dataArray = [parseFloat(data['flux_tresorerie'][0]),parseFloat(data['flux_tresorerie'][1])];
                            updateDonutChart(fluxTresorerieDonutChart, [String("Recettes : " + data['flux_tresorerie'][0] + " XAF"), String("Dépenses : " + data['flux_tresorerie'][1] + " XAF")], dataArray);

                            swal({
                                type: 'success',
                                title: 'Le tableau de bord a été mis à jour !',
                                //html: 'Submitted email: ' + email
                            });

                            setTimeout(function () {
                                resolve()
                            }, 2000);
                        },
                        error: function (result) {
                            //console.log("Error");
                            //console.log(result);
                            swal(
                                'Oops...',
                                'Something went wrong!',
                                'error'
                                //footer: '<a href>Why do I have this issue?</a>'
                            );

                            /*Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!',
                                footer: '<a href>Why do I have this issue?</a>'
                            });*/

                            setTimeout(function () {
                                resolve()
                            }, 5000);
                        }
                    });
                })
            },
            allowOutsideClick: false
        }]);
        

    });
    
    function updateDonutChart(chart, label, data){
        chart.updateOptions({
            labels: label
        });
        
        chart.updateSeries(newDataSeries(chart, data));

    }

    function newDataSeries(chart, data) {
        var i = 0;
        return chart.w.globals.series.map(function() {
            return data[i++];
        });
    }

    function displayNewData1(chart, label, data, /*dateopt, */multiple, xscale){
        //chart.data.labels = [];
        chart.updateOptions({
            xaxis: {
                categories: []
            },
        });
        /*chart.updateOptions({
            xaxis: {
                categories: label
            },
        });*/
        //chart.opts.labels = label;
        chart.updateOptions({
            labels: label
            
        });
        if(multiple > 1){
            var i = 0;
            chart.opts.series.forEach((dataset) => {
                if( i < multiple){
                    dataset.data = [];
                    dataset.data = data[i++];
                    //console.log(dataset.name);
                }
            });
        }
        else if(multiple == 1){
            chart.updateSeries([{
                data: []
            }]);
        
            chart.updateSeries([{
                data: data
            }]);
        }
        if(xscale === 'day'){
            chart.updateOptions({
                /*xaxis: {
                    title: {
                        text: moment(dateopt).format('DD MMMM').toString(),
                    }
                },*/
                tooltip: {
                    x: {
                        formatter: function (val) {
                            return val 
                        },
                    },
                }
            });
        }
        else if( xscale === 'month'){
            chart.updateOptions({
                /*xaxis: {
                    title: {
                        text: moment(dateopt).format('MMMM').toString(),
                    }
                },*/
            });
        }
        else if( xscale === 'hour'){
            chart.updateOptions({
                /*xaxis: {
                    title: {
                        text: moment(dateopt).format('MMMM').toString(),
                    }
                },*/
                tooltip: {
                    x: {
                        formatter: function (val) {
                            return val + "h"
                        },
                    },
                }
            });
        }
        //console.log(chart.options.scales.xAxes[0].scaleLabel.labelString);
        //preloaderChart(id, false);
        //chart.render();
    }

</script>
{% endblock %}