
{% block _category_products_widget %}

<div class="card">
    <div class="card-body mx-5">        
        <h4 class="mt-2 mb-4 header-title">Spécifiez les produits</h4>
    
        {{form_widget(form)}}

        <input type="hidden" id="products-widgets-count">
        
        <div class="form-group mt-4 text-right">
            <button type="button" id="add-products" class="btn btn-primary mr-2 waves-effect" data-toggle="tooltip" data-placement="top" title="Ajouter un nouveau produit à la catégorie">
                <i class="fas fa-plus-circle mr-2"></i>Produit
            </button>
            
        </div>
    </div>
</div>
                        
{% endblock %}

{% block _category_products_entry_row %}
    {{form_widget(form)}}
{% endblock %} 

{% block _category_products_entry_widget %}
    
    <div class="row form-group mb-0 align-items-center nbItems" id = "block_{{id}}">
        <div class="col-10 mt-4">
            <div class="row text-center">
                <div class="col colproductName_{{id}}">
                    <div class="form-group">
                        <div class="input-group">
                            {# <div class="input-group-prepend">
                                {{ form_label(form.reference, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div> #}
                            {{ form_widget(form.productName, {'attr': {'class': "form-control text-center select2 custom-select"}}) }}
                            
                        </div>
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            {# <div class="input-group-prepend">
                                {{ form_label(form.reference, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div> #}
                            {{ form_widget(form.productPrice, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            {# <div class="input-group-prepend">
                                {{ form_label(form.reference, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div> #}
                            {{ form_widget(form.productSku, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div>
                {# <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            <!-- <div class="input-group-prepend">
                                {{ form_label(form.reference, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div> -->
                            {{ form_widget(form.productDescription, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            <!-- <div class="input-group-prepend">
                                {{ form_label(form.reference, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div> -->
                            {{ form_widget(form.productHasStock, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div> #}

                <div class="col d-none colName_{{id}}">
                    <div class="form-group">
                        <div class="input-group">
                            {# <div class="input-group-prepend">
                                {{ form_label(form.reference, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div> #}
                            {{ form_widget(form.name, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            {# <div class="input-group-prepend">
                                {{ form_label(form.reference, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div> #}
                            {{ form_widget(form.price, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            {# <div class="input-group-prepend">
                                {{ form_label(form.reference, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div> #}
                            {{ form_widget(form.sku, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div>
                {# <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            <!-- <div class="input-group-prepend">
                                {{ form_label(form.reference, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div> -->
                            {{ form_widget(form.description, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            <!-- <div class="input-group-prepend">
                                {{ form_label(form.reference, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div> -->
                            {{ form_widget(form.hasStock, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div> #}
               
            </div>       
        </div>

        <div class="col">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class="mt-1 btn btn-danger">
                <i class="fas fa-trash"></i>
            </button>
        </div>

    </div>


{% endblock %}
