{% extends 'base.html.twig' %}

{% block title %} Modification d'une Catégorie {% endblock %}

{% block stylesheets %}

{% endblock %}

{% block pageTitle %}
<h4 class="page-title mb-2"><i class="dripicons-network-1 mr-2"></i>Catégorie</h4>  
{% endblock %}

{% block breadcrumb %}
    <div class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Catégories</li>
            <li class="breadcrumb-item active">Modification</li>
        </ol>
    </div>
{% endblock %}

{% form_theme form 'category/_collection.html.twig' %}

{% block body %}
<div class="row ">
    <div class="col-12">
        <div class="card">
            <div class="card-body mx-5">        
                <h4 class="mt-2 mb-4 header-title">Modifier une catégorie</h4>
                {{ form_start(form) }}
                {#{{ form_widget(form) }}#}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            {{ form_label(form.name, null, {'label_attr': {'class': 'input-group-text'}}) }}
                        </div>
                        {{ form_widget(form.name, {'attr': {'class': "form-control"}}) }}
                        
                    </div>
                </div>

                {{ form_widget(form.products) }}

                <button type="submit" class="btn btn-primary mt-4" id="saveBtn">
                    <span class="spinner-border spinner-border-sm mr-1 d-none" role="status" aria-hidden="true"></span>
                    Save
                </button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    $('#saveBtn').click(function(){
        //block of code that runs when the click event triggers
        $(this).children('i').addClass('d-none');
        $(this).children('span').removeClass('d-none');
        //$('#saveBtn').prop('disabled', true);
    });

    var nbItem = +$('button[data-action="delete"]').length;
    
    for (let index = 0; index < nbItem; index++) {
        
        $('.colName_category_products_' + index).removeClass('d-none');
        $('.colproductName_category_products_' + index).addClass('d-none');

        $('#category_products_' + index + '_name').attr('readonly', true);
        //var Str = String($(productPriceId).val());
        //var Name = $(productPriceId + ' option[value=\"' + Str + '\"]').text();
        //var puId_ = String(Name); 
        //$(puId).val(puId_);
        
        
    }
    
</script>
<script src="/js/category.js"></script>

{% endblock %}