{% extends 'base.html.twig' %}

{% block title %}Accueil{% if type == 'customer' %}Clients{% elseif type == 'supplier' %}Fournisseurs{% endif %}{% endblock %}

{% block stylesheets %}

<link href="/plugins/custombox/custombox.min.css" rel="stylesheet" type="text/css">

<!-- DataTables -->
<link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />  

{% endblock %}

{% block pageTitle %}
<h4 class="page-title mb-2"><i class="mdi mdi-account-multiple mr-2"></i>{% if type == 'customer' %}Clients{% elseif type == 'supplier' %}Fournisseurs{% endif %}</h4>  
{% endblock %}

{% block breadcrumb %}
    <div class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Accueil</li>
            <li class="breadcrumb-item active">{% if type == 'customer' %}Clients{% elseif type == 'supplier' %}Fournisseurs{% endif %}</li>
        </ol>
    </div>
{% endblock %}

{% block body %}
{# {{ dump('iconStock = ' ~ iconStock) }} #}
    {#<div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">

                    {% if customers|length > 0 %}
                    <h4 class="mt-0 header-title">List of Customers</h4>
                    <div class="mt-2 mr-5 text-right">
                        <a href="{{path('customer_create')}}"  class="btn btn-info btn-lg rounded " data-toggle="tooltip" data-placement="top" title="Add New Customer"><i class="fa fa-plus-circle mr-2"></i> <i class="mdi mdi-account-multiple"></i></a>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <table id="datatable-responsive1" class="table dt-responsive nowrap gridTabReport" cellspacing="0" width="100%">
                                    <thead>
                                        <tr class="text-center">
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Tel</th>
                                            <th>Address</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for customer in customers %}
                                        <tr class="text-center">
                                            <td>{{customer.id}}</td>
                                            <td>{{customer.fullName}}</td>
                                            <td>{{customer.phoneNumber}}</td>
                                            <td>{{customer.address}}</td>
                                            <td>
                                                <a href="{{path('customer_edit', {'id':customer.id})}}"  class="btn btn-info btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Modify Customer"><i class="far fa-edit"></i> </a>
                                                <a href="#" class="btn btn-primary btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Place Order"><i class="mdi mdi-cart-outline"></i> 
                                                </a>
                                                <a href="{{path('customer_delete', {'id':customer.id})}}" class="btn btn-danger btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Delete Customer"><i class="fas fa-trash"></i> </a>
                                            
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                        
                    {% else %}
        
                    {% endif %}                                           
                    </div>        
                </div>
            </div>
        </div>
    </div>#}   
    
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <h5 class="header-title">Liste des {% if type == 'customer' %}Clients{% elseif type == 'supplier' %}Fournisseurs{% endif %}</h5>
                    <div class="mt-2 mb-2 mr-5 text-right">
                        <a href="{{path('business_contact_create',{'type':type})}}"  class="btn btn-info btn-lg rounded waves-effect" data-toggle="tooltip" data-placement="top" title="Add New {% if type == 'customer' %}Customer{% elseif type == 'supplier' %}Supplier{% endif %}"><i class="fa fa-plus-circle mr-2"></i> <i class="mdi mdi-account-multiple"></i></a>
                    </div>
                    <div class="table-responsive">
                        <table id="datatable2" class="table table-striped table-fixed nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr class="text-center">
                                    {# <th>#</th> #}
                                    <th>Nom</th>
                                    <th class="d-none d-sm-table-cell">Adresse</th>
                                    <th>Tél</th>
                                    {# <th class="d-none d-sm-table-cell">{% if type == 'customer' %}Revenues Générés (XAF){% elseif type == 'supplier' %}Dépenses Générées (XAF){% endif %}</th>
                                    <th class="d-none d-sm-table-cell">{% if type == 'customer' %}Nombre de commande{% elseif type == 'supplier' %}Number of Purchase Orders{% endif %}</th>
                                    <th class="d-none d-sm-table-cell">{% if type == 'customer' %}Créances (XAF){% elseif type == 'supplier' %}Dettes (XAF){% endif %}</th> #}
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for businessContact in businessContacts %}
                                {% set rest = 0 %}
                                <tr class="text-center">
                                    {# <td>{{businessContact.id}}</td> #}
                                    <td class="text-left"><a href="{{path('business_contact_details', {'id':businessContact.id})}}"  class="" >{{businessContact.socialReason}}</a></td>
                                    <td class="d-none d-sm-table-cell text-left">{{businessContact.address}}</td>
                                    <td>{{businessContact.phoneNumber }}</td>
                                    {# <td class="d-none d-sm-table-cell">
                                        {% if type == 'customer' %}
                                            {% set totalAmountBill = 0 %}
                                            {% for commercialSheet in businessContact.commercialSheets %}
                                                {% if commercialSheet.type == 'bill'  %}
                                                    {% if commercialSheet.deliveryStatus == true  or commercialSheet.completedStatus == true %}
                                                        {% set totalAmountBill = totalAmountBill + commercialSheet.amountNetToPaid %}
                                                    {% endif %}
                                                    {% set rest = rest + commercialSheet.amountRestToPaid %}
                                                {% endif %}
                                            {% endfor %}
                                        {{ totalAmountBill }}
                                        {% elseif type == 'supplier' %}
                                            {% set totalAmountPurchaseOrder = 0 %}
                                            {% for commercialSheet in businessContact.commercialSheets %}
                                                {% if commercialSheet.type == 'purchaseorder'%}
                                                    {% if commercialSheet.deliveryStatus == true  or commercialSheet.completedStatus == true %}
                                                        {% set totalAmountPurchaseOrder = totalAmountPurchaseOrder + commercialSheet.amountNetToPaid %}
                                                    {% endif %}
                                                    {% set rest = rest + commercialSheet.amountRestToPaid %}
                                                {% endif %}
                                            {% endfor %}
                                        {{ totalAmountPurchaseOrder }}
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-sm-table-cell">
                                        {% if type == 'customer' %}
                                            {% set completedBill = [] %}
                                            {% for commercialSheet in businessContact.commercialSheets %}
                                                {% if commercialSheet.type == 'bill' and (commercialSheet.completedStatus == true or commercialSheet.deliveryStatus == true) %}
                                                    {% set completedBill = completedBill|merge([commercialSheet]) %}
                                                {% endif %}
                                            {% endfor %}
                                            
                                        {{ completedBill|length }}
                                        {% elseif type == 'supplier' %}
                                            {% set completedPurchaseOrder = [] %}
                                            {% for commercialSheet in businessContact.commercialSheets %}
                                                {% if commercialSheet.type == 'purchaseorder' and (commercialSheet.completedStatus == true or commercialSheet.deliveryStatus == true) %}
                                                    {% set completedPurchaseOrder = completedPurchaseOrder|merge([commercialSheet]) %}
                                                {% endif %}
                                            {% endfor %}
                                            
                                            {{ completedPurchaseOrder|length }}
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-sm-table-cell">{{ rest }}</td> #}
                                    <td>
                                        <a href="{{path('business_contact_edit', {'id':businessContact.id})}}"  class="btn btn-info btn-xs rounded waves-effect" data-toggle="tooltip" data-placement="top" title="Modifiez le {% if type == 'customer' %}Client{% elseif type == 'supplier' %}Fournisseur{% endif %}"><i class="far fa-edit"></i> </a>
                                        {% if type == 'customer' %}
                                        <a href="#custom-modal{{businessContact.id}}" class="btn btn-primary btn-xs rounded waves-effect" data-animation="corner" data-plugin="custommodal" data-overlayColor="#38414a" data-toggle="tooltip" data-placement="top" title="Editer un document ?"><i class="mdi mdi-file-table-outline"></i></a>
                                        <!-- Custom Modal -->
                                        <div id="custom-modal{{businessContact.id}}" class="modal-demo">
                                            <button type="button" class="close" onclick="Custombox.modal.close();">
                                                <span>&times;</span><span class="sr-only">Close</span>
                                            </button>
                                            <h4 class="custom-modal-title">Choisir le type de document à créer</h4>
                                            <div class="custom-modal-text">
                                                {# <a href="{{ path('commercial_sheet_create', {'id':businessContact.id,'type':'quote'}) }}" class="btn btn-primary btn-lg rounded text-left">Quote</a> 
                                                <a href="{{ path('commercial_sheet_create', {'id':businessContact.id,'type':'bill'}) }}" class="btn btn-info btn-lg rounded float-right">Bill</a> #}
                                                
                                                <form class="form mb-2" role="form">
                                                    <div class="form-group mb-0 row">
                                                        <div class="col-12">
                                                            <div class="form-check-inline my-1">
                                                                <div class="custom-control custom-radio">
                                                                    <input class="custom-control-input" type="radio" id="inlineRadio1{{businessContact.id}}" value="quote" name="documentType{{businessContact.id}}">
                                                                    <label class="custom-control-label" for="inlineRadio1{{businessContact.id}}"> Devis </label>
                                                                    
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="form-check-inline float-right my-1">
                                                                <div class="custom-control custom-radio">
                                                                    <input class="custom-control-input" type="radio" id="inlineRadio2{{businessContact.id}}" value="bill" name="documentType{{businessContact.id}}" checked="">
                                                                    <label class="custom-control-label" for="inlineRadio2{{businessContact.id}}"> Facture de vente </label>
                                                                    
                                                                </div>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                
                                                </form>
                                                
                                                {% if iconStock == true %}
                                                {% if inventories|length > 0 %}
                                                <div class="form-group row my-2 inventory-select ">
                                                    <label class="col-sm-4 col-form-label text-left mt-2">Select PF stock provider</label>
                                                    <div class="col-sm-8 mt-2">
                                                        <select class="custom-select" id="stockId{{businessContact.id}}">
                                                            {% for inventory in inventories %}
                                                            <option value="{{inventory.id}}" {% if loop.first %}selected=""{% endif %}>{{inventory.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endif %}

                                                <div class="row mx-2 float-right mb-2">
                                                    <button type="button" data-action="place" data-target="{{businessContact.id}}" class="btn btn-success btn-lg">
                                                        <span class="spinner-border spinner-border-sm mr-1 d-none" role="status" aria-hidden="true"></span>
                                                        OK
                                                    </button>
                                                </div>
                                            </div>
                                        </div> <!--end custom modal--> 
                                        {% elseif type == 'supplier' %}
                                        <a href="{{ path('commercial_sheet_create', {'id':businessContact.id,'type':'purchaseorder'}) }}" class="btn btn-secondary btn-xs rounded text-right" data-toggle="tooltip" data-placement="top" title="Editer une facture d'achat ?"><i class="mdi mdi-file-table-outline"></i></a>
                                        {% endif %}
                                        <a href="{{path('business_contact_delete', {'id':businessContact.id})}}" class="btn btn-danger btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Supprimez {% if type == 'customer' %}Client{% elseif type == 'supplier' %}Fournisseur{% endif %}"><i class="fas fa-trash"></i> </a>
                                    
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>           
                </div>
            </div>
        </div>
    </div><!--end row-->

{% endblock %}

{% block javascripts %}
<!-- Required datatable js -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/plugins/datatables/jszip.min.js"></script>
<script src="/plugins/datatables/pdfmake.min.js"></script>
<script src="/plugins/datatables/vfs_fonts.js"></script>
<script src="/plugins/datatables/buttons.html5.min.js"></script>
<script src="/plugins/datatables/buttons.print.min.js"></script>
<script src="/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>
<script src="/pages/jquery.datatable.init.js"></script>    

<script src="/plugins/custombox/custombox.min.js"></script>
<script src="/plugins/custombox/custombox.legacy.min.js"></script>

<script src="/pages/jquery.modal-animation.js"></script>
<script src="/js/jquery.redirect.js"></script> 

<script>
    {# var table = $('#datatable').DataTable( {
        orderCellsTop: true,
        fixedHeader: true
    } );
    // Setup - add a text input to each footer cell
    $('#datatable thead tr').clone(true).appendTo( '#datatable thead' );
    $('#datatable thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+ title + '" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } ); #}
 
    {# $("input:radio").change(function(){
        //console.log('input radio change');
        //var type = $(this).val();
        if(type === 'quote'){
            $('.inventory-select').addClass('d-none');
        }
        else $('.inventory-select').removeClass('d-none'); 
    }); #}

//$('.inventory-select').addClass('d-none');

    $('button[data-action="place"]').click(function(){
        //console.log('OK Btn clicked');
        //block of code that runs when the click event triggers
        var id_ = this.dataset.target;//BC id
        var type;
        var documentType = "input:checkbox[name=documentType" + id_ + "]:checked";
        console.log('documentType = ' + documentType);
        $("input:radio[name=documentType" + id_ + "]:checked").each(function(){
            type = $(this).val();
        });
        //console.log('Type = ' + type);
        {% if iconStock == true and inventories|length > 0 %}
        var stockId = '#stockId' + id_;
        var stock = $(stockId).val();
        var _url = "/commercial/sheet/new/" + id_ + "/" + type + "/" + stock;
        {% else %}
        var _url = "/commercial/sheet/new/" + id_ + "/" + type;
        {% endif %}
        //console.log('Url = ' + _url);
        
        window.location.replace(_url);

        $(this).children('i').addClass('d-none');
        $(this).children('span').removeClass('d-none');
    }); 
</script>
{% endblock %}