
{% block _commercial_sheet_commercialSheetItems_widget %}

    
    {{form_widget(form)}}

    <input type="hidden" id="commercialSheetItems-widgets-count">
    
    <div class="form-group mt-4 text-right">
        <button type="button" id="add-commercialSheetItems" class="btn btn-primary mr-2" data-toggle="tooltip" data-placement="top" title="Ajouter un produit enregistré">
            <i class="fas fa-plus-circle mr-2"></i><i class="dripicons-shopping-bag"></i>
        </button>
    
        <button type="button" id="add-servItems" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Ajouter par saisie un nouvel article">
            <i class="fas fa-plus-circle mr-2"></i><i class="mdi mdi-keyboard"></i>
        </button>
    
    </div>
                    
{% endblock %}

{% block _commercial_sheet_commercialSheetItems_entry_row %}
    {{form_widget(form)}}
{% endblock %} 

{% block _commercial_sheet_commercialSheetItems_entry_widget %}
    
    <div class="row form-group mb-0 align-items-center nbItems" id = "block_{{id}}">
        <div class="col-10 mt-4">
            <div class="row text-center">
                <div class="col-3">
                    <div class="row">
                        <div class="col-4 d-none colRef_{{id}}">
                            <div class="form-group">
                                <div class="input-group">
                                    {# <div class="input-group-prepend">
                                        {{ form_label(form.reference, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                    </div> #}
                                    {{ form_widget(form.reference, {'attr': {'class': "form-control text-center"}}) }}
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-4 d-none colSKU_{{id}}">
                            <div class="form-group">
                                <div class="input-group">
                                    {# <div class="input-group-prepend">
                                        {{ form_label(form.productSku, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                    </div> #}
                                    {{ form_widget(form.productSku, {'attr': {'class': "form-control text-center"}}) }}
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="col coldesignation_{{id}}">
                            <div class="form-group">
                                <div class="input-group">
                                    {# <div class="input-group-prepend">
                                        {{ form_label(form.designation, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                    </div> #}
                                    {{ form_errors(form.designation) }}
                                    {{ form_widget(form.designation, {'attr': {'class': "form-control text-center"}}) }}
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col colproduct_{{id}} d-none">
                            <div class="form-group">
                                <div class="input-group">
                                    {# <div class="input-group-prepend">
                                        {{ form_label(form.product, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                    </div> #}
                                    {{ form_widget(form.product, {'attr': {'class': "form-control"}}) }}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    {# <div class="input-group-prepend">
                                        {{ form_label(form.productPrice, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                    </div> #}
                                    {{ form_errors(form.pu) }}
                                    {{ form_widget(form.pu, {'attr': {'class': "form-control text-center"}}) }}
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    {# <div class="input-group-prepend">
                                        {{ form_label(form.quantity, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                    </div> #}
                                    {{ form_errors(form.quantity) }}
                                    {{ form_widget(form.quantity, {'attr': {'class': "form-control text-center"}}) }}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                
                <div class="col-6">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    {# <div class="input-group-prepend">
                                        {{ form_label(form.amount, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                    </div> #}
                                    {{ form_widget(form.amountBrutHT, {'attr': {'class': "form-control text-center"}}) }}
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <div class="input-group">
                                    {# <div class="input-group-prepend">
                                        {{ form_label(form.amount, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                    </div> #}
                                    {{ form_widget(form.remise, {'attr': {'class': "form-control text-center"}}) }}
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <div class="input-group">
                                    {# <div class="input-group-prepend">
                                        {{ form_label(form.amount, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                    </div> #}
                                    {{ form_widget(form.amountNetHT, {'attr': {'class': "form-control text-center"}}) }}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            {# <div class="input-group-prepend">
                                {{ form_label(form.productPrice, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div> #}
                            {{ form_widget(form.productPrice, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                {{ form_label(form.productType, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div>
                            {{ form_widget(form.productType, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                {{ form_label(form.itemOfferType, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div>
                            {{ form_widget(form.itemOfferType, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div>
                
            </div>       
        </div>
        <div class="col-2 mt-4">
            <div class="row">
                <div class="col-6 colavai_{{id}}">
                    <div class="form-group">
                        <div class="input-group">
                            {# <div class="input-group-prepend">
                                {{ form_label(form.available, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div> #}
                            {{ form_errors(form.available) }}
                            {{ form_widget(form.available, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
            
                </div>
        
                <div class="col">
                    <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn  btn-soft-danger">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
