{% extends 'base.html.twig' %}

{% block title %} Commercial Sheets Dashboard  {% endblock %}

{% block stylesheets %}
<!-- DataTables -->
<link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />  

{% endblock %}

{% set docType = '' %}
{% set prefix = '' %}
{% if type == 'bill' %}
    {% set docType = 'Facture' %}
    {% set prefix = 'FV' %}
{% elseif type == 'quote' %}
    {% set docType = 'Devis' %}
    {% set prefix = 'D' %}
{% elseif type == 'purchaseorder' %}
    {% set docType = "Facture d'Achat" %}
    {% set prefix = 'FA' %}
{% endif %}

{% block pageTitle %}
<h4 class="page-title mb-2"><i class="mdi mdi-file-table-outline mr-2"></i>Documents</h4>  
{% endblock %}

{% set iconStock = true %}
{% block breadcrumb %}
    <div class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Accueil</li>
            <li class="breadcrumb-item active">Documents</li>
            <li class="breadcrumb-item active">{{ docType }}</li>
        </ol>
    </div>
{% endblock %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <h5 class="header-title">Liste des {{docType}}
                    </h5>
                    {% if type != 'quote' %}
                    <div class="row ">
                        <div class="col"></div>
                        <div class="col text-right" id="colSaveBtn">
                            {# <div class="mt-2 mb-2">
                                <a href="{{path('customers_index')}}"  class="btn btn-info btn-lg rounded " data-toggle="tooltip" data-placement="top" title="Add New product"><i class="fa fa-plus-circle mr-2"></i> <i class="mdi mdi-cart-outline"></i></a>
                            </div> #}
                                                        
                            <div class="mt-2 mb-2 savebtn">
                                <button type="button" class="btn btn-primary" id="saveBtn" data-toggle="tooltip" data-placement="top" title="Sauvegarder les changements de status des commandes ?">
                                    <span class="spinner-border spinner-border-sm mr-1 d-none" role="status" aria-hidden="true"></span>
                                    Save
                                </button>
                            </div>
                        
                        </div>
                    
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#delivery" role="tab">En Attente de Livraison</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#payment" role="tab">En Attente de Paiement</a>
                        </li>                                                
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#completed" role="tab">Payés et Livrés</a>
                        </li>
                    </ul>

                    <!-- Tab panes mdi mdi-dump-truck mdi mdi-truck-check -->
                    <div class="">    
                    {# {% autoescape %}{{ '<span class="badge bg">on pending</span>'|raw }}{% endautoescape %} #}
                        <div class="tab-content">
                            <div class="tab-pane active p-3" id="delivery" role="tabpanel">    
                                {% if type == 'bill' %}
                                <button type="button" id="deliveryJournalBtn" class="btn btn-info btn-xs rounded mr-1 mb-2" data-toggle="tooltip" data-placement="top" title="Imprimer les Commandes cochées dans le journal des livraisons du jour ?"><i class="fa fa-print"></i></button>
                                {# <button type="button" id="inventoryExitJournalBtn" class="btn btn-info btn-xs rounded mr-1 mb-2" data-toggle="tooltip" data-placement="top" title="Print Inventory Exit Journal"><i class="fa fa-print"></i></button>  #}
                                {% endif %} 
                                <table id="datatableDelivery" class="table table-striped table-fixed nowrap table-striped table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr class="text-center">
                                            {% if type == 'bill' %}
                                            <th style="width:0.5em">À Livrer ?</th>
                                            {% endif %}
                                            {# <th>N° Facture</th> #}
                                            <th>{% if type == 'bill' %}Client{% else %}Fournisseur{% endif %}</th>
                                            <th>{% if type == 'bill' %}Date de Facturation{% else %}Date d'émission{% endif %}</th>
                                            {# <th>Payment Date</th> #}
                                            <th>Avance(XAF)</th>
                                            <th>Reste(XAF)</th>
                                            <th>Livré ?</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for commercialSheet in commercialSheets %}
                                        {% if commercialSheet.deliveryStatus == false %}
                                        <tr class="text-center">
                                            {% if type == 'bill' %}
                                            <td style="width:5px">
                                                <div class="checkbox checkbox-primary">
                                                    <input id="Journal{{commercialSheet.id}}" type="checkbox" name="journal" value="{{commercialSheet.id}}">
                                                    <label for="Journal{{commercialSheet.id}}"></label>
                                                </div>
                                            </td>
                                            {% endif %}
                                            {# <td>{{commercialSheet.number}}</td> #}
                                            <td>{{commercialSheet.businessContact.socialReason}}</td>
                                            <td>{{ commercialSheet.createdAt is empty ? "-" : commercialSheet.createdAt|date("d/m/Y") }}</td>
                                            {# <td>
                                            {% if commercialSheet.payAt is empty %} 
                                            {% autoescape %}{{ '<span class="badge badge-soft-info">on pending</span>'|raw }}{% endautoescape %}
                                            {% else %}
                                            {{commercialSheet.payAt|date("d/m/Y") }}
                                            {% endif %}
                                            </td> #}
                                            <td>{{commercialSheet.advancePayment}}</td>
                                            <td>{{commercialSheet.amountRestToPaid}}</td>
                                            <td>
                                                <div class="checkbox checkbox-primary">
                                                    <input id="checkbox{{commercialSheet.id}}" type="checkbox" name="delivered" value="{{commercialSheet.id}}">
                                                    <label for="checkbox{{commercialSheet.id}}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="{{path('commercial_sheet_edit', {'id':commercialSheet.id})}}"  class="btn btn-soft-info btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Modifier la Commande"><i class="far fa-edit"></i> </a>
                                                <a href="{{path('commercial_sheet_print', {'id':commercialSheet.id})}}" class="btn btn-soft-primary btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Voir {{docType}} ?"><i class="mdi mdi-file-table-outline "></i> </a>
                                                <a href="{{path('commercial_sheet_delete', {'id':commercialSheet.id})}}" class="btn btn-danger btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Supprimer {{docType}}"><i class="fas fa-trash"></i> </a>
                                                
                                            </td>
                                            
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>                    
                            </div>

                            <div class="tab-pane p-3" id="payment" role="tabpanel">
                                <div class="float-right">
                                    
                                </div>
                                <div class="table-responsive">
                                    <table id="datatablePayment" class="table table-striped table-fixed nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr class="text-center">
                                                {# <th style="width:0.5em"></th> #}
                                                {# <th>N° Facture</th> #}
                                                <th>{% if type == 'bill' %}Client{% else %}Fournisseur{% endif %}</th>
                                                <th>{% if type == 'bill' %}Date de Facturation{% else %}Date d'émission{% endif %}</th>
                                                {# <th>Delivery Date</th> #}
                                                <th>Avance(XAF)</th>
                                                <th>Reste(XAF)</th>
                                                <th>Payé ?</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for commercialSheet in commercialSheets %}
                                            {# {{ commercialSheet.deliverAt|date("d/m/Y") }} #}
                                            {% if commercialSheet.paymentStatus == false %}
                                            <tr class="text-center align-items-center">
                                                {# <td>
                                                {{prefix}}{{commercialSheet.id}}/{{commercialSheet.createdAt|date("m")}}/{{commercialSheet.createdAt|date("y")}}
                                                </td> #}
                                                <td>{{commercialSheet.businessContact.socialReason}}</td>
                                                <td>{{commercialSheet.createdAt is empty ? "-" : commercialSheet.createdAt|date("d/m/Y") }}</td>
                                                {# <td>{{commercialSheet.deliverAt is empty ? "-" : commercialSheet.deliverAt|date("d/m/Y") }}</td> #}
                                                <td>{{commercialSheet.advancePayment}}</td>
                                                <td>{{commercialSheet.amountRestToPaid}}</td>
                                                <td class="align-items-center">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="paidCheckbox{{commercialSheet.id}}" type="checkbox" name="paid" value="{{commercialSheet.id}}">
                                                        <label for="paidCheckbox{{commercialSheet.id}}"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="{{path('commercial_sheet_edit', {'id':commercialSheet.id})}}"  class="btn btn-soft-info btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Modifier la Commande"><i class="far fa-edit"></i> </a>
                                                    <a href="{{path('commercial_sheet_print', {'id':commercialSheet.id})}}" class="btn btn-soft-primary btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Voir {{docType}} ?"><i class="mdi mdi-file-table-outline"></i> </a>
                                                    <a href="{{path('commercial_sheet_delete', {'id':commercialSheet.id})}}" class="btn btn-danger btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Supprimer {{docType}}"><i class="fas fa-trash"></i> </a>
                                                </td>
                                                
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>  

                            <div class="tab-pane p-3" id="completed" role="tabpanel">
                                <div class="table-responsive">
                                    <table id="datatableCompleted" class="table table-striped table-fixed nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr class="text-center">
                                                {# <th>N° Facture</th> #}
                                                <th>{% if type == 'bill' %}Client{% else %}Fournisseur{% endif %}</th>
                                                <th>{% if type == 'bill' %}Date de Facturation{% else %}Date d'émission{% endif %}</th>
                                                <th>Date de Livraison</th>
                                                <th>Date de Paiement</th>
                                                <th>Montant (XAF)</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for commercialSheet in commercialSheets %}
                                            {% if commercialSheet.completedStatus == true %}
                                            <tr class="text-center">
                                                {# <td>{{prefix}}{{commercialSheet.id}}/{{commercialSheet.createdAt|date("m")}}/{{commercialSheet.createdAt|date("y")}} #}
                                                </td>
                                                <td>{{commercialSheet.businessContact.socialReason}}</td>
                                                <td>{{ commercialSheet.createdAt is empty ? "-" : commercialSheet.createdAt|date("d/m/Y") }}</td>
                                                <td>{{ commercialSheet.deliverAt is empty ? "-" : commercialSheet.deliverAt|date("d/m/Y") }}</td>
                                                <td>{{ commercialSheet.payAt is empty ? "-" : commercialSheet.payAt|date("d/m/Y") }}</td>
                                                <td>{{commercialSheet.amountNetToPaid}}</td>
                                                <td>
                                                    <a href="{{path('commercial_sheet_print', {'id':commercialSheet.id})}}" class="btn btn-soft-info btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Voir {{docType}} ?"><i class="mdi mdi-file-table-outline"></i> </a>    
                                                </td>
                                                
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        {#<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
                            <!-- Then put toasts within -->
                            <div class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true" data-toggle="toast">
                                <div class="toast-header">
                                    <i class="mdi mdi-circle-slice-8 font-18 mr-1 text-secondary"></i>
                                    <strong class="mr-auto">Frogetor</strong>
                                    <small>11 mins ago</small>
                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="toast-body">
                                Hello, world! This is a toast message.
                                </div>
                            </div> <!--end toast-->
                        </div>#}
                    </div> <!--end div-->
                    {% else %}
                    {# {{dump(commercialSheets)}} #}
                    <div class="table-responsive">
                        <table id="datatable2" class="table table-striped table-fixed nowrap table-striped table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr class="text-center">
                                    {# <th style="width:0.5em"></th> #}
                                    {# <th>N° Devis</th> #}
                                    <th>Client</th>
                                    <th>Date d'émission</th>
                                    <th>Date limite de validité</th>
                                    <th>Alerte Invalidité</th>
                                    <th>Montant (XAF)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for commercialSheet in commercialSheets %}
                                <tr class="text-center">
                                    {# <td style="width:5px">
                                        <div class="checkbox checkbox-primary">
                                            <input id="Journal{{commercialSheet.id}}" type="checkbox" name="journal" value="{{commercialSheet.id}}">
                                            <label for="Journal{{commercialSheet.id}}"></label>
                                        </div>
                                    </td> #}
                                    {# <td>{{prefix}}{{commercialSheet.id}}/{{commercialSheet.createdAt|date("m")}}/{{commercialSheet.createdAt|date("y")}} #}
                                    </td>
                                    <td>{{commercialSheet.businessContact.socialReason}}</td>
                                    <td>{{commercialSheet.createdAt|date("d/m/Y")}}</td>
                                    <td>{{commercialSheet.periodofvalidity|date("d/m/Y")}}</td>
                                    <td>
                                        {% if commercialSheet.alert %}
                                        <span class="badge badge-soft-success">valide</span>  
                                        {% else %}  
                                        <span class="badge badge-soft-danger">invalide</span>  
                                        {% endif %}
                                    </td>
                                    <td>{{commercialSheet.amountNetToPaid}}</td>
                                    {# <td>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox{{order.id}}" type="checkbox" name="delivered" value="{{order.id}}">
                                            <label for="checkbox{{order.id}}"></label>
                                        </div>
                                    </td> #}
                                    <td>
                                        {# <a href="{{path('commercial_sheet_edit', {'id':commercialSheet.id})}}"  class="btn btn-info btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Modify Quote"><i class="far fa-edit"></i> </a> #}
                                        <a href="{{path('commercial_sheet_convert', {'id':commercialSheet.id})}}" class="btn btn-soft-info btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Convertir le Devis en Facture de vente ?"><i class="fas fa-exchange-alt"></i> </a>
                                        <a href="{{path('commercial_sheet_print', {'id':commercialSheet.id})}}" class="btn btn-soft-primary btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Voir la Facture de la commande ?"><i class="mdi mdi-file-table-outline"></i> </a>    
                                        <a href="{{path('commercial_sheet_delete', {'id':commercialSheet.id})}}" class="btn btn-danger btn-xs rounded" data-toggle="tooltip" data-placement="top" title="Supprimer le Devis ?"><i class="fas fa-trash"></i> </a>
                                                
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>                    
                        
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div><!--end row-->
{% endblock %}

{% block javascripts %}
<!-- Required datatable js -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/plugins/datatables/jszip.min.js"></script>
<script src="/plugins/datatables/pdfmake.min.js"></script>
<script src="/plugins/datatables/vfs_fonts.js"></script>
<script src="/plugins/datatables/buttons.html5.min.js"></script>
<script src="/plugins/datatables/buttons.print.min.js"></script>
<script src="/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>
<script src="/pages/jquery.datatable.init.js"></script>   
<script src="/js/jquery.redirect.js"></script> 

<script>
    $('#saveBtn').click(function(){
        var tabDelivered = [];
        var tabPaid      = [];
        var _url = "{{path('commercial_sheet_change_status')}}";
        //block of code that runs when the click event triggers
        {# $(this).children('i').addClass('d-none');
        $(this).children('span').removeClass('d-none'); #}
        //$('#saveBtn').prop('disabled', true);
        $("input:checkbox[name=delivered]:checked").each(function(){
            tabDelivered.push($(this).val());
        });
        $("input:checkbox[name=paid]:checked").each(function(){
            tabPaid.push($(this).val());
        });
        console.log('Tab Mark Delivered : ' + tabDelivered)
        console.log('Tab Mark Paid : ' + tabPaid)
        if (tabDelivered.length > 0 || tabPaid.length > 0){
            var $data = JSON.stringify({
                "commercialSheetDeliveredIds": tabDelivered,//tabGridId,
                "commercialSheetPaidIds": tabPaid,//tabFuelId,
                //"selectedDate": $date
            });

            $.ajax({
                type: "POST",//method type
                contentType: "application/json; charset=utf-8",
                url: _url,///Target function that will be return result
                data: $data,//parameter pass data is parameter name param is value 
                dataType: "json",
                timeout: 120000,//64241
                success: function (data) {
                    //alert("Success");
                    console.log(data);  
                    function reload_() {
                        //window.location.replace("https://waytolearnx.com");
                        location.reload(true);
                    }      
                    setTimeout(reload_, 5000);  
                    
                },
                error: function (result) {
                    console.log("Error");
                    console.log(result);
                }
            });

        }
        else{
            $('#colSaveBtn').
            prepend('<div class="alert icon-custom-alert alert-outline-danger alert-danger-shadow alert-dismissible fade show" role="alert"><div class="alert-text"><strong>Aucune Commande n\'est cochée comme livré ou payé !</strong></div><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="mdi mdi-close"></i></span></button></div>');
            
        }
    });
    {# {% if type != 'quote' %}
    $('#completed').click(function(){
        $('.savebtn').addClass('d-none');
        console.log('completed tab clicked');
    });
    {% endif %} #}
    $('#deliveryJournalBtn').click(function(){
        console.log('Delivery Journal Btn clicked');
        var tabJournal = [];
        $("input:checkbox[name=journal]:checked").each(function(){
            tabJournal.push($(this).val());
        });
        console.log('Tab Journal : ' + tabJournal);
        if (tabJournal.length > 0){

            $.redirect("{{path('print_journal',{'journal':'delivery'})}}",
                {
                    commercialSheetIds: {'commercialSheetIds':tabJournal},
                },
            "POST", "_blank");

        }
        else{
            $('#delivery').
            prepend('<div class="alert icon-custom-alert alert-outline-danger alert-danger-shadow alert-dismissible fade show" role="alert"><div class="alert-text"><strong>Aucune Commande n\'est cochée pour le journal de livraison !</strong></div><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="mdi mdi-close"></i></span></button></div>');
            
        }
    });
    {# $('#inventoryExitJournalBtn').click(function(){
        console.log('Inventory Exit Journal Btn clicked');
        var tabJournal = [];
        $("input:checkbox[name=journal]:checked").each(function(){
            tabJournal.push($(this).val());
        });
        console.log('Tab Journal : ' + tabJournal);
        if (tabJournal.length === 0){

        }
        else{
            $.redirect("{{path('print_journal',{'journal':'inventory','town':inventory.id})}}",
                {
                    commercialSheetIds: {'commercialSheetIds':tabJournal},
                },
            "POST", "_blank");

        }
    }); #}
</script>
{% endblock %}