{% extends 'base.html.twig' %}

{% block title %} Creation of {{commercialSheet.type|capitalize}} {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
<style>
    .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
        color: firebrick;
    }
</style>
{% endblock %}
{% set docType = '' %}
{% if commercialSheet.type == 'bill' %}
    {% set docType = 'Facture' %}
{% elseif commercialSheet.type == 'quote' %}
    {% set docType = 'Devis' %}
{% elseif commercialSheet.type == 'purchaseorder' %}
    {% set docType = "Facture d'Achat" %}
{% endif %}

{% block pageTitle %}
<h4 class="page-title mb-2"><i class="mdi mdi-cart-outline mr-2"></i>

</h4>  
{% endblock %}

{% block breadcrumb %}
    <div class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">{% if docType != 'Devis' %}Nouvelle{% else %}Nouveau{% endif %}</li>
            <li class="breadcrumb-item active">
            {{ docType }}
            </li>
        </ol>
    </div>
{% endblock %}

{% form_theme form 'commercial_sheet/_collection.html.twig' %}

{% block body %}
{# {{dump(app.user.enterprise.subscription.tarifs['' ~ app.user.enterprise.subscriptionDuration])}} #}

<div class="row ">
    <div class="col-12">       
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Information {% if docType != 'Devis' %}de la{% else %}du{% endif %} {{ docType }}</h4>
                {{ form_start(form) }}
                <div class="card border mb-0 text-center">
                    <div class="card-header">
                        Détails du {% if docType != "Facture d'Achat" %}Client{% else %}Fournisseur{% endif %}
                    </div>
                    <div class="card-body text-left">
                        <h5 class="card-title"></h5>
                        <p class="card-text">{% if commercialSheet.type != 'purchaseorder' %}Name :{% else %}Social Reason :{% endif %} {{commercialSheet.businessContact.socialReason}}</p>
                        {% if commercialSheet.type == 'purchaseorder' %}
                        <p class="card-text">NIU : {{commercialSheet.businessContact.niu}}</p>
                        <p class="card-text">RCCM : {{commercialSheet.businessContact.rccm}}</p>
                        {% endif %}
                        <p class="card-text">Tel : {{commercialSheet.businessContact.phoneNumber}}</p>
                        <p class="card-text">{% if commercialSheet.type != 'purchaseorder' %}Delivery Address :{% else %}Address :{% endif %} {{commercialSheet.businessContact.address}}</p>
                        {# <p class="card-text">Delivery Town : {{order.customer.deliveryAddress.town}}</p> #}
                        
                    </div>
                </div>
                <div class="card border mb-0 text-center">
                    <div class="card-header">
                        Détails des articles de la commande
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <div class="row text-center">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="row">
                                            <div class="col-4 d-none">Ref</div>
                                            <div class="col">Désignation</div>
                                        </div>
                                    
                                    </div>
                                    <div class="col-3">
                                        <div class="row">
                                            <div class="col">P.U (XAF)</div>
                                            <div class="col">Qty</div>
                                        
                                        </div>
                                    
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-4">Montant HT Brut(XAF)</div>
                                            <div class="col-3">Remise(%)</div>
                                            <div class="col-5">Montant HT Net(XAF)</div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-6 {% if commercialSheet.type == 'quote' or iconStock == false %}d-none{% endif %}">Dispo</div>
                                    <div class="col-6"></div>
                                
                                </div>
                            </div>
                        </div>
                        {{form_widget(form.commercialSheetItems)}}
                        <p class="card-text">Quantité Totale        : <span id="itemsqtytotal">0</span></p>
                        <p class="card-text">Montant Total HT Brut  : <span id="itemsAmountBrutHT">0</span> XAF</p>
                        <p class="card-text">Montant Total Remise   : <span id="itemsAmountRemise">0</span> XAF</p>
                        <p class="card-text">Montant Total HT Net   : <span id="itemsAmountNetHT">0</span> XAF</p>
                        <p class="card-text">TVA ({{app.user.enterprise.tva}}%)     : <span id="taxes">0</span> XAF</p>
                        <p class="card-text">Montant TTC            : <span id="amountTTC">0</span> XAF</p>

                    </div>
                    
                </div>
                <!--end card-->
                <div class="card border mb-0 text-center">
                    <div class="card-header">
                        Détails de Promotion
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        {# {{form_widget(form.reductions)}} #}
                        {# <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    {{ form_label(form.itemsReduction, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                </div>
                                {{ form_errors(form.itemsReduction) }}
                                {{ form_widget(form.itemsReduction, {'attr': {'class': "form-control text-center"}}) }}
                                
                            </div>
                        </div> #}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    {{ form_label(form.fixReduction, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                </div>
                                {{ form_errors(form.fixReduction) }}
                                {{ form_widget(form.fixReduction, {'attr': {'class': "form-control text-center"}}) }}
                                
                            </div>
                        </div>
                        </br>
                        <p class="card-text">Montant des Remises Forfaitaires: <span id="totalPromoAmount">0</span> XAF</p>
                    </div>
                    
                </div>
                <!--end card-->
                <div class="card border mb-0 text-center">
                    <div class="card-header">Détails du Paiement</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Montant Net à payer : <span id="totalAmount">0</span> XAF</p>
                        
                        <div class="form-group {% if commercialSheet.type == 'quote' %}d-none{% endif %}">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    {{ form_label(form.advancePayment, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                </div>
                                {{ form_errors(form.advancePayment) }}
                                {{ form_widget(form.advancePayment, {'attr': {'class': "form-control text-center"}}) }}
                                
                            </div>
                        </div>
                        <p class="card-text">Reste à payer : <span id="totalRestAmount">0</span> XAF</p>
                        {# {% if commercialSheet.type != 'quote' %}
                        {% set dnone = "" %}
                        {% else %}
                        {% set dnone = "d-none" %}
                        {% endif %}
                        {{form_widget(form.paymentStatus, {'attr': {'class': dnone}}) }}
                        {{form_widget(form.deliveryStatus, {'attr': {'class': dnone}}) }}
                        {{form_widget(form.completedStatus, {'attr': {'class': dnone}}) }} #}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    {{ form_label(form.deliveryMode, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                </div>
                                {{ form_errors(form.deliveryMode) }}
                                {{ form_widget(form.deliveryMode, {'attr': {'class': "form-control text-center"}}) }}
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    {{ form_label(form.paymentMode, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                </div>
                                {{ form_errors(form.paymentMode) }}
                                {{ form_widget(form.paymentMode, {'attr': {'class': "form-control text-center"}}) }}
                                
                            </div>
                        </div>
                        <div class=" {% if commercialSheet.type == 'quote' %}d-none{% endif %}">
                            {# {{ form_errors(form.periodofvalidity) }}                        #}
                                {# {{ form_label(form.paymentStatus, null, {'label_attr': {'class': 'input-group-text'}}) }} #}
                                {{ form_widget(form.paymentStatus) }}
                            
                        </div>
                        <div class=" {% if commercialSheet.type == 'quote' %}d-none{% endif %}">
                            {# {{ form_errors(form.periodofvalidity) }}                        #}
                                {# {{ form_label(form.deliveryStatus, null, {'label_attr': {'class': 'input-group-text'}}) }} #}
                                {{ form_widget(form.deliveryStatus) }}
                            
                        </div>
                        <div class=" {% if commercialSheet.type == 'quote' %}d-none{% endif %}">
                            {# {{ form_errors(form.periodofvalidity) }}                        #}
                                {# {{ form_label(form.completedStatus, null, {'label_attr': {'class': 'input-group-text'}}) }} #}
                                {{ form_widget(form.completedStatus) }}
                            
                        </div>
                        
                        <div class="form-group mt-3 {% if commercialSheet.type != 'quote' %}d-none{% endif %}">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    {{ form_label(form.duration, null, {'label_attr': {'class': 'input-group-text'}}) }}
                                </div>
                                {{ form_errors(form.duration) }}                       
                                {{ form_widget(form.duration, {'attr': {'class': "form-control text-center"}}) }}
                                
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <!--end card-->

                <div class="text-right mt-4">
                    <input type="button" onclick="document.location.href='{{ path('business_contacts_index',{'type':commercialSheet.businessContact.type}) }}';" value="Cancel" name="button" class="btn btn-danger mr-2">
                
                    <button type="submit" class="btn btn-primary" id="saveBtn">
                        {# <span class="spinner-border spinner-border-sm mr-1 d-none" role="status" aria-hidden="true"></span> #}
                        Save
                    </button>
                </div>
                {# {{ form_widget(form.save, { 'label': 'Save' }) }} #}

                {{ form_end(form) }}
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
</div>
{% endblock %}

{% block javascripts %}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script> #}
<script>
    
    /*$('#saveBtn').click(function(){
        //block of code that runs when the click event triggers
        $(this).children('i').addClass('d-none');
        $(this).children('span').removeClass('d-none');
        //$('#saveBtn').prop('disabled', true);
    });*/
    $('#commercial_sheet_itemsReduction').attr('type', 'number');
    $('#commercial_sheet_deliveryFees').attr('type', 'number');
    $('#commercial_sheet_fixReduction').attr('type', 'number');
    $('#commercial_sheet_advancePayment').attr('type', 'number');
    
    {# var val = $('#commercial_sheet_duration').val(); #}
    {# if($('#commercial_sheet_duration').val()) console.log('duration val = ' + val);
    else $('#commercial_sheet_duration').val(0); #}
    
    {# var availabilities = {{availabilities}}; #}
    {# $('.form-check').addClass('radio-info form-check-inline'); #}
    var availabilities = JSON.parse('{{ availabilities | json_encode | raw }}');
    var availabilitiesTab = JSON.parse('{{ availabilities | json_encode | raw }}');
    {# $(document).ready(function(){
        $('#commercial_sheet_periodofvalidity').datepicker({
            format: 'dd/mm/yyyy',
            startDate: '+0d',
            todayBtn: "linked",
            todayHighlight: true,
            clearBtn: true,
        });

    }); #}
    //$('#saveBtn').attr('disabled', true);
    var isEdit = false;
    var tva = {{ app.user.enterprise.tva }}/100.0;
    console.log(availabilities);
    var type = '{{commercialSheet.type}}';
    if (type !== 'quote'){
        $('#commercial_sheet_duration').attr('required', false); 
    }
    else{
        $('#commercial_sheet_advancePayment').attr('required', false); 
        if (isNaN(parseFloat($('#commercial_sheet_advancePayment').val())) || parseFloat($('#commercial_sheet_advancePayment').val()) < 0 || !$('#commercial_sheet_advancePayment').val() == true) {
            $('#commercial_sheet_advancePayment').val(0.0);
        }
    }

    function computeItemsAmountTab(puId, qtyId, remiseId, index) {
        var price = parseFloat(puId);
        amountBrutHT[index] = price * parseFloat($(qtyId).val());
        //$(amountId).val(amount);
        itemReductionTab[index] = ( ( amountBrutHT[index] * parseFloat( $(remiseId).val() ) )/100.0 );

        itemsAmount[index] = amountBrutHT[index] - itemReductionTab[index];
        //console.log('itemsAmount[' + index + '] = ' + itemsAmount[index]);

        
        //Calcul du sous montant Total des items
        computeItemsAmountSubTotal();
    }

    //Procédure de calcul du sous montant Total des items
    function computeItemsAmountSubTotal() {
        itemsAmountNetHT  = 0;
        itemsReduction    = 0;
        totalAmountBrutHT = 0;
        itemsAmount.forEach(function (item, index) {
            itemsAmountNetHT  += item;
            itemsReduction    += itemReductionTab[index];
            totalAmountBrutHT += amountBrutHT[index];
        });
        //console.log(itemsAmountNetHT);
        itemsAmountNetHT = itemsAmountNetHT - fixReductions;
        $('#itemsAmountNetHT').text(itemsAmountNetHT.toFixed(2));
        $('#itemsAmountRemise').text(itemsReduction.toFixed(2));
        $('#itemsAmountBrutHT').text(totalAmountBrutHT.toFixed(2));
        //MAJ du montant de taxes sur les items
        taxes = itemsAmountNetHT * tva;
        $('#taxes').text(taxes.toFixed(2));

        amountTTC = itemsAmountNetHT + taxes;
        $('#amountTTC').text(amountTTC.toFixed(2));

        //Calcul du montant total de la promo
        computeTotalPromoAmount();

    }

    //Procédure de calcul du montant total de la promo
    function computeTotalPromoAmount() {
        //totalPromoAmount = itemsReduction + fixReductions;
        totalPromoAmount = fixReductions;
        $('#totalPromoAmount').text(totalPromoAmount.toFixed(2));

        //Calcul du montant Total Net à payer
        computeTotalAmount();
    }

    //Procédure de calcul du montant Total Net à payer
    function computeTotalAmount() {
        totalAmount = amountTTC;// - totalPromoAmount;
        if ($('#commercial_sheet_paymentStatus').is(':checked') || $('#commercial_sheet_completedStatus').is(':checked')) {
            $('#commercial_sheet_advancePayment').val(totalAmount.toFixed(2));
            totalRestAmount = 0;
        }
        else {
            var val = $('#commercial_sheet_advancePayment').val();
            if (val && $.isNumeric(val)) totalRestAmount = totalAmount - parseFloat(val);
            else {
                $('#commercial_sheet_advancePayment').val(0);
                totalRestAmount = totalAmount;
            }
        }

        $('#totalAmount').text(totalAmount.toFixed(2));
        $('#totalRestAmount').text(totalRestAmount.toFixed(2));
    }
    
    var tabproductSKUIds = [];
    var tabHideSKU = [];
    var tabHideProduct = [];
    var tabProductIds = [];
    var tabPriceIds = [];
    var tabProductQtyIds = [];

    var tabQty = [];
    var tabItemOfferType = [];
    var qtyTotal = 0;
    var tabError = [];
    var tabQtyError = [];
    var itemsAmount = [];
    var itemsAmountSubTotal = 0;
    var taxes = 0.0;

    var totalAmountBrutHT = 0;
    var amountBrutHT = [];
    // var reductionsAmount = [];
    // var reductionsAmountSubtotal = 0;

    var deliveryReduction = 0;

    var totalPromoAmount = 0;

    var totalAmount = 0;
    var totalRestAmount = 0.0;
    var amountTTC = 0.0;

    //console.log(availabilities);
    //var availabilitiesTab = availabilities;
    var itemsReduction = 0.0;
    var itemReductionTab = [];
    var fixReductions = 0;

    if (isNaN(parseFloat($('#commercial_sheet_fixReduction').val())) || parseFloat($('#commercial_sheet_fixReduction').val()) < 0 || !$('#commercial_sheet_fixReduction').val() == true) {
        $('#commercial_sheet_fixReduction').val(0.0);
    }
    fixReductions = parseFloat($('#commercial_sheet_fixReduction').val());
    //Gestion des évènements de modification sur l'entrée numérique du montant 
    //de réduction fixe
    $('#commercial_sheet_fixReduction').change(function () {
        if (isNaN(parseFloat($(this).val())) || parseFloat($(this).val()) < 0 || !$(this).val() == true) {
            $(this).val(0.0);
        }

        fixReductions = parseFloat($(this).val());

        //Calcul du sous montant Total des items
        computeItemsAmountSubTotal();

    });
</script>
<script src="/js/commercial_sheet2.js" type="text/javascript"></script>


{% endblock %}