{% extends 'base.html.twig' %}

{% block suptitle %} <i class="mdi mdi-truck-delivery mr-1"></i> LBF Daily Delivery | Date : {{"now"|date('d-m-Y')}} | Town : {{town}}{% endblock %}{% block title %}{% endblock %}

{% block stylesheets %}
<!-- DataTables -->
<link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />  

{% endblock %}

{% block pageTitle %}
<h4 class="page-title mb-2"><i class="mdi mdi-truck-delivery mr-2"></i>Orders to Deliver</h4>  
{% endblock %}

{% block breadcrumb %}
    <div class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Orders</li>
            <li class="breadcrumb-item active">Delivery</li>
            <li class="breadcrumb-item active">Journal</li>
        </ol>
    </div>
{% endblock %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <h5 class="header-title">List of Orders To Deliver</h5>
                    
                    <table id="datatable-buttons" class="table dt-responsive nowrap table-striped table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr class="text-center">
                                <th>Name</th>
                                <th>Tel</th>
                                <th>Address</th>
                                <th>N° Order</th>
                                <th>Amount (XAF)</th>
                                <th style="min-width: 100px;">Signature</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for commercialSheet in commercialSheets %}
                            {% set itemsAmount = 0 %}
                            {% set qty240 = 0 %}
                            {% set qty100 = 0 %}
                            {% set price240 = 0 %}
                            {% set price100 = 0 %}
                            {% set promoAmount = 0 %}
                            {% set total = 0 %}
                            {% for commercialSheetItem in commercialSheet.commercialSheetItems %}
                                {% set itemsAmount = itemsAmount + (commercialSheetItem.quantity * commercialSheetItem.pu) %}
                            
                            {% endfor %}
                            {% set promoAmount = promoAmount + commercialSheet.itemsReduction + commercialSheet.fixReduction %}
                            {% set taxes = (app.user.enterprise.tva / 100.0) * itemsAmount %}
                            {% set total = itemsAmount + commercialSheet.deliveryFees + taxes - promoAmount %}
                            <tr class="text-center">
                                <td>{{commercialSheet.businessContact.fullName}}</td>
                                <td>{{commercialSheet.businessContact.phoneNumber}}</td>
                                <td>{{commercialSheet.businessContact.address}}</td>
                                <td>{{commercialSheet.number}}</td>
                                <td>{{total}}</td>
                                <td style="min-width: 100px;"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                    
                            
                </div>
            </div>
        </div>
    </div><!--end row-->
{% endblock %}

{% block javascripts %}
<!-- Required datatable js -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/plugins/datatables/jszip.min.js"></script>
<script src="/plugins/datatables/pdfmake.min.js"></script>
<script src="/plugins/datatables/vfs_fonts.js"></script>
<script src="/plugins/datatables/buttons.html5.min.js"></script>
<script src="/plugins/datatables/buttons.print.min.js"></script>
<script src="/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>
<script src="/pages/jquery.datatable.init.js"></script>   

<script>
    $(document).ready(function(){
        $('.buttons-pdf').children('span').html('<i class="mdi mdi-download mr-2"></i>PDF')

    });
    
</script>

{% endblock %}